/*
"VERSO" v 1.0 
premium template 
by http://www.sitediscount.ru
02.2013
*/

/*

###################### -=[ TABLE OF CONTENTS ]=- ##########################

		GLOBAL .........................45
		HEADER .........................63
		TOP BANNER INDEX & 404 page ....65
		PAGE HEADER ....................96
		BREADCRUMP.....................138
		NEADHEAD.......................164
		PORTFOLIO......................284
		SOCIAL LINIKS ON TOP...........372
		NAVIGATION MENU & DROPDOWNS....431
		MARKETING SECTION..............942
		TOP SLIDER....................1051
		PORTFOLIO & CLIENTS ROTATOR...1101
		FEATURES <P>..................1177
		BLOG & BLOG CATEGORIES........1196
		PINTEREST STYLE BLOG..........1655
		PROJECTS ITEMS,FILTERS, 
		& ISOTOPE ....................1826
		SINGL PROJECT.................1990
		RESPONSIVE VIDEO..............2022
		CUSTOM FONT SIZES.............2039
		SCROLL TO TOP.................2092
		CUSTOM BUTTON ................2124
		CUSTOM LINES..................2193
		CUSTOM TITLES.................2312
		CUSTOM WORD COLORS............2336
		SITEMAP.......................2348
		404 page......................2395
		FOOTER .......................2432
		RESPONSIVE MAP................2523
		CUSTOM STYLE <hr/> ...........2554
		@MEDIA .......................2595
*/

/***************************** GLOBAL ********************************/
body
{
	font-family: sans-serif;
}

.main-wrapper
{
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	min-height: 100%;
	min-width: 100%;
	overflow: hidden;
	width: 100%;
}

/************************** HEADER *************************************/

	/************** TOP BANNER INDEX & 404 ************/
.action-banner-bg
{
	background: #2790B0 url(../img/officeBuilding.png) top center repeat;
	background-size: 100% 100%;
	box-shadow: 0px 5px 12px rgba(50, 50, 50, 0.35) inset;
	height: 100%;
	left: 0;
	-moz-box-shadow: 0px 5px 12px rgba(50, 50, 50, 0.35) inset;
	position: absolute;
	top: 0;
	-webkit-box-shadow: 0px 5px 12px rgba(50, 50, 50, 0.35) inset;
	width: 100%;
	z-index: -1000;
}
.action-banner-bg-top
{
	background: url(../img/pixel.png) top left repeat;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: -999;
}
.action-banner-bg img
{
	height: 100%;
	width: 100%;
}

/********************************* PAGE HEADER *************************************/
.page-header
{
	background: #2790B0 url(../img/officeBuilding.png) center center repeat;
	margin: 0px 0 30px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
}
.page-header h1
{
	color: #fff;
	display: block;
	text-shadow: 0 1px 4px #000000;
}
.page-header h1 small, .page-header h2 small, .page-header h3 small, .page-header h4 small, .page-header h5 small, .page-header h6 small
{
	color: #fff;
}
.pixel-bg
{
	background: transparent url(../img/pixel.png) top left repeat;
}
.shine
{
	background: url(../../assets/img/header-shine.png) top left no-repeat;
	display: block;
	height: 100%;
	padding-bottom: 20px;
	padding-top: 30px;
	width: 100%;
}
.the-icons li
{
	display: block;
	float: none;
	width: 100%;
}

/********************************* END PAGE HEADER *************************************/

/********************************** BREADCRUMP ******************************************/

.breadcrumb
{
	background: #2790B0;
	border-bottom: 1px dotted #fff;
	border-radius: 0px;
	border-top: 1px dotted #fff;
	color: #fff;
	display: inline-block;
	font-size: 90%;
	list-style: none;
	margin: 5px 0 0px;
	-moz-border-radius: 0px;
	padding: 3px 10px 3px 10px;
	text-shadow: none;
	-webkit-border-radius: 0px;
}
.breadcrumb a, .breadcrumb li.active
{
	color: #fff;
	text-shadow: 0 1px 0 #333;
}

/*****************************   END  BREADCRUMP ******************************************/

/************************ NEADHEAD (like jumbotron masthead in bootstrap) ***********/
.needhead
{
	color: #fff;
	height: 120px;
	margin-bottom: 0;
	margin-top: -40px;
	overflow: hidden;
	padding: 40px 0 0px;
	text-align: left;
}
.needhead h1
{
	background: rgba(0,0,0,0.5);
	border-left: 4px solid #2790B0;
	color: #fff;
	font-size: 2em;
	line-height: 1.1em;
	margin: 50px 0px 0px 40px;
	padding: 5px 10px;
	text-shadow: 0 1px 4px #000000;
	text-transform: uppercase;
}
.needhead h1 span.top
{
	display: inline-block;
	padding: 5px 10px 5px;
}
.needhead h1 span.bottom
{
	display: inline-block;
	margin-top: 5px;
	padding: 5px 10px;
}
.needhead p
{
	background: rgba(0,0,0,0.5);
	border-left: 4px solid #2790B0;
	color: #fff;
	display: inline-block;
	font-size: 140%;
	font-weight: normal;
	line-height: 1.4em;
	margin: 3px 0px 0px 40px;
	padding: 5px 10px;
	text-shadow: 0 1px 1px #000000;
}
.banner-to-right
{
	text-align: right;
}
.needhead p.medium
{
	font-size: 120%;
}
.needhead span.link-more
{
	color: #fff;
	display: inline-block;
	margin: 5px 0px 0px 40px;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
	-transition: 0.3s;
	-webkit-transition: 0.3s;
}
.needhead span.link-more a, .needhead span.link-more a:hover
{
	color: #fff;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
	text-decoration: none;
	text-shadow: 0 1px 1px #000000;
	transition: 0.3s;
	-webkit-transition: 0.3s;
}
.needhead span.link-more a span.main-link
{
	background: rgba(0,0,0,0.8);
	border: 4px solid #fff;
	box-sizing: border-box;
	display: inline-block;
	-moz-box-sizing: border-box;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
	-webkit-transition: 0.3s;
	padding: 15px;
	transition: 0.3s;
	
}
.needhead span.link-more a span.arrow
{
	background: rgba(0,0,0,0.8);
	border: 4px solid #fff;
	color: #fff;
	display: inline-block;
	margin: 0px 0px 0px 0px;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
	padding: 15px;
	transition: 0.3s;
	-webkit-transition: 0.3s;
}
.needhead span.link-more:hover a span.arrow, .needhead span.link-more:hover a span.main-link
{
	background: rgba(0,0,0,0.9);
	box-sizing: border-box;
	moz-box-sizing: border-box;
}
.needhead span.link-more:hover a span.main-link
{
	box-sizing: border-box;
	moz-box-sizing: border-box;
}



/******************************** PORTFOLIO *****************************************/
.margin-left .thumbnail
{
	margin-left: 0px;
}
.thumbnail
{
	border: none;
	border-radius: 0px;
	box-shadow: none;
	display: block;
	line-height: 0px;
	-moz-border-radius: 0px;
	-moz-box-shadow: none;
	-moz-transition: all 0.2s ease-in-out;
	o-transition: all 0.2s ease-in-out;
	padding: 0px;
	transition: all 0.2s ease-in-out;
	-webkit-border-radius: 0px;
	-webkit-box-shadow: none;
	-webkit-transition: all 0.2s ease-in-out;
}
.caption
{
	background: #f2f2f2;
}
.transit-to-top
{
	height: 60px;
	overflow: hidden;
	width: 100%;
}
.transit-to-top h4, .transit-to-top h3
{
	font-size: 100%;
	moz-transition: all 0.3s ease-in-out;
	o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}
.p-title
{
	display: block;
	height: 40px;
}
.thumbnail:hover h4, .thumbnail:hover h3
{
	margin-top: -50px;
}
p.caption-descr
{
	font-size: 80%;
	line-height: 13px;
	text-align: justify;
	word-wrap: break-word;
}
.thumbnail:hover p.caption-descr a
{
	text-decoration: none;
}
p.caption-descr a
{
	float: left;
	font-size: 80%;
}
#portfolio p.caption-descr a
{
	float: left;
	font-size: 100%;
}
.thumbnails li:first-child
{
	margin-left: 0px;
}
.folio-title
{
	background: #fafafa;
	border-bottom: 1px solid #2790B0;
	display: inline-block;
	font-size: 140%;
	line-height: 34px;
	margin: 0px 0px 20px 0px;
	padding: 10px;
	text-transform: uppercase;
}

/*********************** END PORTFOLIO ******************************************/

/************************ SOCIAL LINIKS ON TOP ************************/
.top-soc
{
	background: rgba(250, 250, 250, 0.2);
	display: block;
	left: 0px;
	position: absolute;
	text-align: left;
	top: 140px;
	width: 100%;
	z-index: 900;
}
.social-top
{
	display: block;
	float: left;
	margin: 0px;
	margin-left: 10px;
	padding: 0px;
	padding-left: 30px;
	padding-right: 30px;
}
.social-top li
{
	background: rgba(0, 0, 0, 0.3);
	border-right: #dedede;
	display: block;
	float: left;
	height: 30px;
	list-style: none;
	margin-right: 1px;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	padding-top: 10px;
	text-align: center;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	width: 40px;
}
.social-top li:hover
{
	background: #2790B0;
}
.social-top li:first-child
{
	border-left: rgba(250, 250, 250, 1);
}
.social-top li a
{
	color: #fff;
}
.social-top li a:hover
{
	color: #dedede;
	text-decoration: none;
}
/************************ END SOCIAL LINIKS ON TOP ************************/

/****************************** NAVIGATION BAR *********************************/
.navbar-inner
{
	background: rgba(250,250,250, 1);
	background-color: none;
	background-image: none;
	background-repeat: none;
	border: none;
	border-radius: 0px;
	box-shadow: none;
	filter: none;
	-moz-border-radius: 0px;
	-moz-box-shadow: none;
	-webkit-border-radius: 0px;
	-webkit-box-shadow: none;
}
.navbar .brand
{	max-height: 60px;}
.navbar .brand span{font-size:200%; padding-top:30px; padding-left:10px;display:inline-block; color:#2790B0; font-weight: bold;}

.nav-reaction
{
	background: #fff;
	border-top: 4px solid #2790B0;
	box-shadow: 0px 5px 12px rgba(50, 50, 50, 0.35);
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	min-width: 100%;
	-moz-box-shadow: 0px 5px 12px rgba(50, 50, 50, 0.35);
	position: relative;
	-webkit-box-shadow: 0px 5px 12px rgba(50, 50, 50, 0.35);
	width: 100%;
	z-index: 1000;
}
.da-slide h2
{
	border-left: 4px solid #2790B0;
}
.needhead .da-slide p
{
	border-left: 4px solid #2790B0;
}

.navbar .nav
{
	display: block!important;
	float: right!important;
	left: 0!important;
	margin: 0px 0px 0 0!important;
	position: relative!important;
}
.navbar .brand img
{
	max-height: 70px;
	width: auto;
}
.navbar .nav > li > a
{
	background: none;
	float: none;
	font-weight: 600;
	moz-transition: all 0.3s ease-in-out;
	ms-transition: all 0.3s ease-in-out;
	o-transition: all 0.3s ease-in-out;
	padding: 50px 20px 30px 20px;
	text-shadow: none;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus
{
	background: #2790B0;
	background-color: none;
	box-shadow: none;
	-moz-box-shadow: none;
	text-decoration: none;
	-webkit-box-shadow: none;
}
.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle
{
	background: none;
	background-color: none;
	color: #2790B0;
}
.nav-reaction .dropdown-menu li
{
	width: 100%;
}
.nav-reaction .dropdown-menu.pull-right
{
	left: auto;
	right: 0;
}
.nav-reaction .dropdown-menu .divider
{
	background-color: #e5e5e5;
	border-bottom: 1px solid #ffffff;
	height: 1px;
	margin: -5px 0 5px;
	margin: 9px 1px;
	overflow: hidden;
	width: 100%;
}
.nav-reaction .dropdown-menu a
{
	border-bottom: 1px dotted #dedede;
	/*clear: both;*/
	color: #333;
	/*display: block;*/
	font-weight: normal;
	line-height: 2;
	padding-left: 0px;
	text-align: left;
	text-shadow: none;
	white-space: nowrap;
}
.nav-reaction .dropdown-menu li:hover, .nav-reaction .dropdown-menu li:focus
{
	color: #2790B0;
	text-decoration: none;
}
.nav-reaction .dropdown-menu .active > a, .nav-reaction .dropdown-menu .active > a:hover
{
	background-color: #ffffff;
	color: #232323;
	filter: none;
	text-decoration: none;
}
.nav-reaction .active
{
}
.nav-reaction .dropdown-menu li:last-child a
{
	border-bottom: none;
}
.navbar .nav > li.active > a
{
	box-sizing: border-box;
	color: #fff;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.navbar .nav > li > a:hover
{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.nav-pills .sfHover > a
{
}
.nav-tabs > li > a
{
	border: 1px solid transparent;
	border-radius: 4px 4px 0 0;
	line-height: 20px;
	-moz-border-radius: 4px 4px 0 0;
	padding-bottom: 8px;
	padding-top: 8px;
	-webkit-border-radius: 4px 4px 0 0;
}
.nav-tabs > li > a, .nav-pills > li > a
{
	line-height: 14px;
	margin-right: 2px;
	padding-left: 12px;
	padding-right: 12px;
}
.nav-tabs > li > a:hover
{
	border-color: #eeeeee #eeeeee #dddddd;
}
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover
{
	background-color: none;
	border: 1px solid #ddd;
	border-bottom-color: transparent;
	color: #555555;
	cursor: default;
}
.nav-pills > li > a
{
	border-radius: 5px;
	margin-bottom: 2px;
	margin-top: 2px;
	-moz-border-radius: 5px;
	padding-bottom: 8px;
	padding-top: 8px;
	-webkit-border-radius: 5px;
}
.nav-pills > .active > a,
.nav-pills > .active > a:hover
{
	background-color: none;
	color: #ffffff;
}
.nav > li > a:hover
{
	background-color: none;
	text-decoration: none;
}


.nav-reaction .dropdown-menu
{
	background-clip: padding-box;
	background-color: white;
	border-bottom: 4px solid #2790B0;
	border-bottom-width: 2px;
	border-radius: 0px;
	border-right-width: 2px;
	border-top: 4px solid #2790B0;
	box-shadow: 0px -7px 5px rgba(50, 50, 50, 0.33);
	color: #333;
	display: none;
	line-height: 2;
	list-style: none;
	margin: 0;
	min-width: 160px;
	-moz-background-clip: padding;
	-moz-border-radius: 0px;
	-moz-box-shadow: 0px -7px 5px rgba(50, 50, 50, 0.33);
	padding: 0;
	padding: 3px 12px;
	position: absolute;
	right: 0px;
	top: 100%;
	-webkit-background-clip: padding-box;
	-webkit-border-radius: 0px;
	-webkit-box-shadow: 0px -7px 5px rgba(50, 50, 50, 0.33);
	z-index: 1010;
}
.dropdown-menu
{
	background-clip: padding-box;
	background-color: white;
	border-bottom: 4px solid #2790B0;
	border-bottom-width: 2px;
	border-radius: 0px;
	border-right-width: 2px;
	border-top: 4px solid #2790B0;
	box-shadow: 0px -7px 5px rgba(50, 50, 50, 0.33);
	color: #333;
	display: none;
	float: left;
	line-height: 2;
	list-style: none;
	margin: 0;
	min-width: 160px;
	-moz-background-clip: padding;
	-moz-border-radius: 0px;
	-moz-box-shadow: 0px -7px 5px rgba(50, 50, 50, 0.33);
	padding: 0;
	padding: 3px 12px;
	position: absolute;
	top: 90%;
	-webkit-background-clip: padding-box;
	-webkit-border-radius: 0px;
	-webkit-box-shadow: 0px -7px 5px rgba(50, 50, 50, 0.33);
	z-index: 1000;
}
.navbar .nav > li > a
{
	color: #2790B0;
	font-weight: 400;
	text-shadow: none;
	text-transform: uppercase;
}
.navbar .nav > li > a:hover, .navbar .nav > li > a:hover, .navbar .nav >.sfHover > a
{
	background: #2790B0;
	color: #fff;
	text-shadow: none;
}
.sfHover
{
	text-shadow: none;
}
.navbar .nav > li > .dropdown-menu a:hover
{
	background: none;
	color: #2790B0;
}
.navbar .nav > li > .dropdown-menu:before
{
	border-bottom: #2790B0;
	border-bottom-color: rgba(0, 0, 0, 0.2);
	border-left: 5px solid transparent;
	border-left: none;
	border-right: 5px solid transparent;
	border-right: none;
	border-top: 5px solid #2790B0;
	content: '';
	display: inline-block;
	left: 85%;
	position: absolute;
	top: 0px;
}
.navbar .nav > li > .dropdown-menu:after
{
	border-bottom: 0px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	content: '';
	display: inline-block;
	left: 85%;
	position: absolute;
	top: 0px;
}
.navbar-fixed-bottom .nav > li > .dropdown-menu:before
{
	border-bottom: 0;
	border-top: 7px solid #ccc;
	border-top-color: rgba(0, 0, 0, 0.2);
	bottom: -7px;
	top: auto;
}
.navbar-fixed-bottom .nav > li > .dropdown-menu:after
{
	border-bottom: 0;
	border-top: 6px solid #ffffff;
	bottom: -6px;
	top: auto;
}
.navbar .nav li.dropdown > a:hover .caret, .navbar .nav li.sfHover a.dropdown-toggle .caret
{
	border-bottom-color: #fff;
	border-top-color: #fff;
}
.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle
{
	background-color: #2790B0;
	color: #fff;
}
.navbar .nav li.dropdown > .dropdown-toggle .caret
{
	border-bottom-color: #2790B0;
	border-top-color: #2790B0;
}
.navbar .nav li.dropdown.open > .dropdown-toggle .caret,
.navbar .nav li.dropdown.active > .dropdown-toggle .caret,
.navbar .nav li.dropdown.open.active > .dropdown-toggle .caret
{
	border-bottom-color: #fff;
	border-top-color: #fff;
}
.navbar .pull-right > li > .dropdown-menu,
.navbar .nav > li > .dropdown-menu.pull-right
{
	left: auto;
	right: 0;
}
.navbar .pull-right > li > .dropdown-menu:before,
.navbar .nav > li > .dropdown-menu.pull-right:before
{
	left: auto;
	right: 12px;
}
.navbar .pull-right > li > .dropdown-menu:after,
.navbar .nav > li > .dropdown-menu.pull-right:after
{
	left: auto;
	right: 13px;
}
.navbar .pull-right > li > .dropdown-menu .dropdown-menu,
.navbar .nav > li > .dropdown-menu.pull-right .dropdown-menu
{
	border-radius: 6px 0 6px 6px;
	left: auto;
	margin-left: 0;
	margin-right: -1px;
	-moz-border-radius: 6px 0 6px 6px;
	right: 100%;
	-webkit-border-radius: 6px 0 6px 6px;
}
.dropdown-submenu > ul
{
	background: #fff;
	background-clip: padding-box;
	background-color: white;
	border-bottom: 4px solid #2790B0;
	border-bottom-width: 2px;
	border-radius: 0px;
	border-right-width: 2px;
	border-top: 4px solid #2790B0;
	box-shadow: 0px -7px 5px rgba(50, 50, 50, 0.33);
	color: #333;
	float: left;
	left: 100%;
	line-height: 2;
	list-style: none;
	margin: 0;
	min-width: 160px;
	-moz-background-clip: padding;
	-moz-border-radius: 0px;
	-moz-box-shadow: 0px -7px 5px rgba(50, 50, 50, 0.33);
	padding: 0;
	padding: 3px 12px;
	position: absolute;
	top: 0%;
	-webkit-background-clip: padding-box;
	-webkit-border-radius: 0px;
	-webkit-box-shadow: 0px -7px 5px rgba(50, 50, 50, 0.33);
	z-index: 1000;
}
.navbar .nav > li:last-child .dropdown-submenu > ul
{
	background: #fff;
	background-clip: padding-box;
	background-color: white;
	border-bottom: 4px solid #2790B0;
	border-bottom-width: 2px;
	border-radius: 0px;
	border-right-width: 2px;
	border-top: 4px solid #2790B0;
	box-shadow: 0px -7px 5px rgba(50, 50, 50, 0.33);
	color: #333;
	float: left;
	left: -120%;
	line-height: 2;
	list-style: none;
	margin: 0;
	min-width: 160px;
	-moz-background-clip: padding;
	-moz-border-radius: 0px;
	-moz-box-shadow: 0px -7px 5px rgba(50, 50, 50, 0.33);
	padding: 0;
	padding: 3px 12px;
	position: absolute;
	top: 0%;
	-webkit-background-clip: padding-box;
	-webkit-border-radius: 0px;
	-webkit-box-shadow: 0px -7px 5px rgba(50, 50, 50, 0.33);
	z-index: 1000;
}
.dropdown-submenu .sfHover > a:hover
{
	background: none;
	background-color: none;
	color: #2790B0;
}
.navbar .nav .sfHover > a li.dropdown .shHover > a
{
	background: none;
	background-color: none;
	color: #2790B0;
}
.dropdown-submenu:hover > a
{
	background: none;
	background-image: none;
	background-repeat: none;
	color: #2790B0;
	filter: none;
	text-decoration: none;
}
.dropdown-submenu > a:after
{
	border-color: transparent;
	border-left-color: #cccccc;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	content: " ";
	display: inline-block;
	position:absolute;
	height: 0;
	right: 15px;
	top: 8px;
	width: 10%;
	margin-left:2px;
}
.dropdown-submenu > a{
float:left;
display:block;
position:relative;
padding: 3px 20px;
width:88%;
}
.dropdown-submenu:hover > a:after
{
	border-left-color: #2790B0;
}

.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus
{
	background: none;
	background-color: none;
	background-image: none;
	background-repeat: repeat-x;
	color: #0081c2;
	filter: none;
	text-decoration: none;
}
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover
{
	background: none;
	background-color: none;
	background-image: none;
	background-repeat: repeat-x;
	color: #0081c2;
	filter: none;
	outline: 0;
	text-decoration: none;
}

/****************************** MARKETING SECTION ***************************************/
.marketing
{
	color: #5a5a5a;
	text-align: center;
}
.marketing h1
{
	font-size: 60px;
	font-weight: 200;
	letter-spacing: -1px;
	line-height: 1;
	margin: 60px 0 10px;
}
.marketing h2
{
	font-weight: 200;
	margin-bottom: 20px;
}
.marketing .marketing-byline
{
	margin-top: 20px;
}
.marketing .marketing-byline span
{
	color: #2790B0;
}
.marketing .marketing-byline
{
	color: #999;
	font-size: 140%;
	font-weight: 300;
	line-height: 25px;
	margin-bottom: 30px;
	margin-top: 20px;
	text-transform: uppercase;
}
.marketing img
{
	display: block;
	margin: 0 auto 0px;
}
.textleft
{
	text-align: left;
}
.services
{
	list-style: none;
	margin-left: 0;
}
.services li
{
	line-height: 30px;
}
.bordertop
{
	border-top: 1px solid #EEE;
	margin-top: 20px;
	padding-top: 20px;
}
.well
{
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	border-left: 4px solid #2790B0;
	border-radius: 0px;
	border-right: 1px solid #ccc;
	border-top: 1px solid #ccc;
	box-shadow: 0px 5px 12px rgba(50, 50, 50, 0.15);
	margin-bottom: 20px;
	min-height: 20px;
	-moz-border-radius: 0px;
	-moz-box-shadow: 0px 5px 12px rgba(50, 50, 50, 0.15);
	padding: 19px;
	position: relative;
	-webkit-border-radius: 0px;
	-webkit-box-shadow: 0px 5px 12px rgba(50, 50, 50, 0.15);
}
.well:before
{
	border-bottom: 9px solid transparent;
	border-left: 9px solid #2790B0;
	border-top: 9px solid transparent;
	content: '';
	display: inline-block;
	left: 0px;
	position: absolute;
	top: 40%;
}
p.land
{
	font-size: 140%;
	line-height: 28px;
	margin-bottom: 20px;
	margin-top: 20px;
	text-transform: uppercase;
}
.border-left-color
{
	border-left: 1px solid #2790B0;
	margin-left: 10px;
	padding-left: 10px;
}
.margin-left
{
	padding-left: 20px;
}

/****************************** TOP SLIDER INDEX PAGE ******************************/
#banner-pagination ul
{
	list-style: none;
	margin: 20px 0 0 0;
}
#banner-pagination ul li
{
	display: inline;
	text-align: center;
	width: 25px;
}
.banner_rotator .slides
{
	height: 100%;
	min-height: 100%;
}
.banner_rotator .slide
{
	display: block;
	display: none;
	float: left;
	height: 100%;
	min-height: 100%;
}
.banner-item .container
{
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	position: relative;
}
.banner-img
{
	margin-top: 40px;
	vertical-align: baseline;
}

/****************************** PRELOADER **************************/
.js div#preloader
{
	background: #333 url(../img/loading_page.gif) no-repeat center center;
	height: 100%;
	left: 0;
	overflow: visible;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999;
}
/*************************** PORTFOLIO & CLIENTS ROTATOR*********************/
.flex-direction-nav .flex-prev
{
	right: 32px;
}
.flex-direction-nav a
{
	cursor: pointer;
	display: block;
	height: 30px;
	margin: 0px 0 0;
	position: absolute;
	text-indent: -9999px;
	top: -60px;
	-webkit-transition: all .2s ease;
	width: 30px;
	z-index: 10;
}
.portfolio-controls
{
	position: relative;
}
.flex-direction-nav a
{
	background: #2790B0 url(../../assets/img/bg_direction_nav.png) no-repeat 0 0;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}
.flex-direction-nav li.a.flex-prev
{
	color: #fff;
	content: "<"
}
.flex-direction-nav a.flex-next
{
	color: #fff;
	content: ">"
}
.clients_rotator_widget_wrap .overl
{
	background: rgba(250, 250, 250, 0.6);
	box-shadow: inset 0px 0px 20px rgba(50, 50, 50, 0.3);
	display: block;
	filter: alpha(opacity=30);
	height: 105px;
	left: 0px;
	min-height: 105px;
	-moz-box-shadow: inset 0px 0px 20px rgba(50, 50, 50, 0.3);
	-moz-transition: all 0.6s ease-in-out;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	opacity: 0.3;
	o-transition: all 0.6s ease-in-out;
	position: absolute;
	top: 0px;
	transition: all 0.6s ease-in-out;
	-webkit-box-shadow: inset 0px 0px 20px rgba(50, 50, 50, 0.3);
	-webkit-transition: all 0.6s ease-in-out;
	width: 100%;
}
.clients_rotator_widget_wrap li
{
	position: relative;
}
.clients_rotator_widget_wrap li.slide
{
	margin-left: 30px;
}
.clients_rotator_widget_wrap li.slide:first-child
{
	margin-left: 0px;
}
/*************************** END PORTFOLIO & CLIENTS ROTATOR*********************/

/************************** FEATURES <P> ********************************/
p.features
{
	border-bottom: 4px solid #fefefe;
	font-size: 90%;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	padding-bottom: 15px;
	text-align: justify;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}
p.features:hover
{
	border-bottom: 4px solid #2790B0;
	padding-bottom: 12px;
}

/*********************************** BLOG & BLOG CATEGORIES **********************************/

.blog
{
	padding-top: 30px;
}
.blog-post p.cat-blog
{
	margin-top: 0px;
}
.date-blog
{
	font-size: 300%;
	font-weight: 600;
}
.meta-blog
{
	border-bottom: 1px solid #dedede;
	border-top: 1px solid #dedede;
	display: inline-block;
	margin: 3px 0px;
	padding: 3px 0px;
	width: 100%;
}
.label
{
	border-radius: 1px;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
}
.label-xl, .badge-xl
{
	background: #2790B0 url(../../assets/img/header-shine.png) top left no-repeat;
	background-size: 100% 100%;
	color: #ffffff;
	display: inline-block;
	font-size: 11.844px;
	font-weight: bold;
	line-height: 14px;
	padding: 21px 8px;
	position: relative;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	vertical-align: baseline;
	white-space: nowrap;
}
.label-l, .badge-l
{
	background: #2790B0 url(../../assets/img/header-shine.png) top left no-repeat;
	background-size: 100% 100%;
	color: #ffffff;
	display: inline-block;
	font-size: 11.844px;
	font-weight: bold;
	line-height: 14px;
	padding: 15px 5px;
	position: relative;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	vertical-align: baseline;
	white-space: nowrap;
}
.label-xl:after, .label-l:after
{
	border-bottom: 9px solid transparent;
	border-left: 9px solid #2790B0;
	border-top: 9px solid transparent;
	content: '';
	display: inline-block;
	position: absolute;
	right: -9px;
	top: 40%;
}
.toggle-img
{
	display: inline-block;
	height: 200px;
	margin-bottom: 15px;
	margin-top: 5px;
	min-width: 100%;
	-moz-transition: all 1.8s ease-in-out;
	-o-transition: all 1.8s ease-in-out;
	overflow: hidden;
	position: relative;
	transition: all 1.8s ease-in-out;
	-webkit-transition: all 1.8s ease-in-out;
	width: 100%;
}
.toggle-img img
{
	height: auto;
	left: 0%;
	min-width: 100%;
	-moz-transition: all 1.8s ease-in-out;
	-o-transition: all 1.8s ease-in-out;
	position: absolute;
	top: -100%;
	transition: all 1.8s ease-in-out;
	-webkit-transition: all 1.8s ease-in-out;
	width: 100%;
}
.toggle-img:hover img
{
	-moz-transform: scale(2);
	-ms-transform: scale(2);
	-o-transform: scale(2);
	transform: scale(2);
	-webkit-transform: scale(2);
}
.blog-post p
{
	margin: 20px 0;
	text-align: justify;
}
.thumbnail > img
{
	margin: none;
	width: 100%;
}
.blog
{
	margin-bottom: 4em;
}
#single div
{
}
.blog:last-child
{
	border-bottom: none;
	margin-bottom: 0;
}
.blog h2
{
	font-size: 2em;
	margin: 0 !important;
}
.blog h2 a
{
	color: #2f2f2f;
	font-style: normal;
	font-weight: 400;
}
.blog h2 a:hover
{
	color: #2f2f2f;
	text-decoration: none;
}
.blog h3
{
}
.blog h4
{
}
.blog blockquote p
{
	border-left: 0px;
	color: #2f2f2f;
	display: inline-block;
	font-size: 110%;
	line-height: 1.6em;
	margin: 10px 0px 10px;
	padding-left: 15px;
}
blockquote p:before
{
	color: #2790B0;
	content: open-quote;
	font-size: 4em;
	line-height: .1em;
	margin-right: .25em;
	text-shadow: -1px -1px 0px #333, 1px 1px 2px #fff;
	vertical-align: -.4em;
}
blockquote p:after
{
	color: #2790B0;
	content: close-quote;
	font-size: 4em;
	line-height: .1em;
	margin-left: .25em;
	margin-top: 1.5em;
	text-shadow: -1px -1px 0px #333, 1px 1px 2px #fff;
	vertical-align: -.7em;
}
.blog blockquote .author
{
	color: #757575;
}
.blog code, .blog pre
{
	color: #484848;
	font-size: .9em;
}
.blog pre
{
	background: #F5F4F4;
	border-radius: .5em;
	-moz-border-radius: .5em;
	-ms-border-radius: .5em;
	o-border-radius: .5em;
	padding: 1em;
	-webkit-border-radius: .5em;
}
.blog .video-container
{
	height: 0;
	overflow: hidden;
	padding-bottom: 56.25%;
	padding-top: 30px;
	position: relative;
}
.blog .video-container iframe, .blog .video-container object, .blogl .video-container embed
{
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.blog aside .blog-post-type h3
{
	display: block;
	height: 94px;
	margin: 1.3em auto 0;
	text-indent: -9999px;
	width: 91px;
}
.blog aside .blog-post-type h3.div
{
}
.blog aside .blog-post-type h3.link
{
}
.blog aside .blog-post-type h3.video
{
}
.blog aside .blog-post-type h3.image
{
}
.blog:hover aside .blog-post-type h3
{
	background-position: 0 -94px;
}
.blog aside .blog-post-date
{
	margin: 2em 0 1em 0;
	text-align: center;
}
.blog aside .blog-post-comments
{
	text-align: center;
}
.blog aside .blog-post-comments a
{
	color: #757575;
	font-style: normal;
	font-weight: 400;
}
.blog aside .blog-post-comments a:hover
{
	color: #d8c431;
	text-decoration: none;
}
img.post-image
{
	float: left;
	height: auto;
	margin: 10px 15px 20px 0px;
	max-width: 340px;
	overflow: hidden;
	width: 340px;
}
img.post-image-full
{
	float: none;
	height: auto;
	margin: 10px 0px 20px 0px;
	max-width: 100%;
	width: 100%;
}
.blog .blog-post-tags
{
	margin-top: 3px;
}
.blog .blog-post-tags ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}
.blog .blog-post-tags li a
{
	background-color: #f5f4f4;
	border: 1px solid #d0d0d0;
	color: #757575;
	float: left;
	font-size: .6em;
	font-style: normal;
	font-weight: 400;
	margin: 0 .5em .5em 0;
	padding: .2em .8em;
	position: relative;
	text-transform: uppercase;
}
.blog .blog-post-tags li a:hover
{
	background: #2790B0;
	border: 1px solid #2790B0;
	color: #fff;
	text-decoration: none;
}
.blog aside h4
{
	font-size: 1.2em;
	margin: 0;
}
.blog aside p
{
	font-size: .9em;
	margin: 0;
}
.blog .social
{
	margin: 1em 0 0 0;
}
.blog .sharing a:hover
{
	color: #d8c431;
	text-decoration: none;
}
.blog aside
{
	line-height: 1.4em;
}
.blog .blog-post img
{
}
.blog .blog-post .wp-caption
{
	background: none;
	border: none;
}
.blog .blog-post .wp-caption-text
{
	padding: .5em;
}
.blog .blog-post .alignleft
{
	margin: 1em 1em 1em 0;
}
.blog .blog-post .alignright
{
	margin: 1em 0 1em 1em;
}
.blog .post-meta ul
{
	font-weight: 400;
	list-style: none !important;
	margin: 0 !important;
	margin: 0 .5em .5em 0;
	padding: .2em .8em;
	padding-left: 0 !important;
	position: relative;
	text-transform: uppercase;
}
.blog .post-meta ul li
{
	float: left;
	font-size: 0.8em;
	margin-right: 1em;
}
.blog .nav-tabs
{
	margin-bottom: 0px !important;
}
.blog .tab-pane
{
	background: white;
	border: 1px solid #DFDFDF;
	border-top: 0px;
	padding: 15px;
	padding-bottom: 1px;
}
.blog .nav-pills li.active a, .blog .nav-pills li a:hover
{
	background-color: #2790B0 !important;
	color: #fff;
}
.blog_cat
{
	padding-top: 0px;
}
.blog .indexMeta
{
	border-bottom: 1px solid #d0d0d0 !important;
	border-top: 1px solid #d0d0d0 !important;
	clear: both;
	margin-bottom: 40px;
	padding: 20px !important;
	padding-bottom: 40px !important;
	position: relative;
}
.blog .indexMeta h2
{
	width: 600px;
}
.blog .indexMeta .dd_buttons
{
	border-left: 1px solid #d9d9d9;
	padding-left: 10px;
	position: absolute;
	right: 10px;
	top: 15px;
	width: 112px;
}
.blog .indexMeta .dd_button
{
	float: right;
	height: 25px;
	margin: 3px 0px;
	overflow: hidden;
	width: 110px;
}
.nav-tabs > .active > a
{
	border-left: 3px solid #2790B0;
}
.box-blog
{
	background: #fff;
	border: 1px solid #dedede;
	box-shadow: 0 1px 3px rgba(34,25,25,0.4);
	margin-bottom: 20px;
	-moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
	-webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
}
.widget-archive > li a:hover
{
	/*border-left: 10px solid #2790B0;*/
	text-decoration: none;
	color:#2790B0;
}
.widget-archive > li a
{
	border-left: 1px solid #2790B0;
	color: #333300;
	display: block;
	font-size: 90%;
	margin: 0 0 0 55px;
	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s;
	padding: 5px 0 3px 10px;
	transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
}
.widget-archive > li
{
	list-style: none;
}
 .blog-post{margin-bottom:40px; padding-bottom:10px; border-bottom:1px solid #ccc;}
 /************************************** PINTEREST STYLE BLOG **************************/
.pint-blog .thumbnail
{
	margin: 10px;
}
.pint-blog
{
	background: #fff;
	border: 1px solid #dedede;
	border-radius: 2px;
	box-shadow: 0 1px 3px rgba(34,25,25,0.4);
	box-sizing: border-box;
	float: left;
	margin-bottom: 20px;
	max-width: 100%;
	-moz-border-radius: 2px;
	-moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
	-moz-box-sizing: border-box;
	padding: 0px;
	-webkit-border-radius: 2px;
	-webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
	-webkit-box-sizing: border-box;
}
.pint-blog .single-title
{
	font-size: 100%;
	margin: 5px 10px 3px 10px;
	text-transform: uppercase;
}
.pint-blog .meta
{
	font-size: 80%;
	margin: 4px 10px;
}
.pint-blog p
{
	display: inline-block;
	font-size: 80%;
	padding: 10px;
	position: relative;
	text-align: justify;
}
.pint-blog p span.plus
{
	background: rgba(250, 250, 250, 1);
	bottom: 0px;
	box-shadow: 0px -8px 7px rgba(50, 50, 50, 0.32);
	filter: alpha(opacity=50);
	left: 0px;
	-moz-box-shadow: 0px -8px 7px rgba(50, 50, 50, 0.32);
	-moz-transition: all 0.3s ease-in-out;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	opacity: 0;
	-o-transition: all 0.3s ease-in-out;
	padding: 7px 0px;
	position: absolute;
	text-align: center;
	transition: all 0.3s ease-in-out;
	-webkit-box-shadow: 0px -8px 7px rgba(50, 50, 50, 0.32);
	-webkit-transition: all 0.3s ease-in-out;
	width: 100%;
}
.pint-blog p span.plus a:hover, .pint-blog p span.plus a:hover i
{
	color: #003060;
	text-decoration: none;
}
.pint-blog:hover p span.plus
{
	bottom: 0px;
	filter: alpha(opacity=100);
	left: 0px;
	ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	opacity: 1;
	position: absolute;
	width: 100%;
}



/************************************** FILTERS FOR PINTEREST *****************************************/
#filters .dropdown-menu
{
}
.blog-line .line-proj .proj
{
	margin-bottom: -5px;
}
#filters .dropdown-menu:before
{
	border-bottom: #2790B0;
	border-bottom-color: rgba(0, 0, 0, 0.2);
	border-left: 7px solid transparent;
	border-left: none;
	border-right: 7px solid transparent;
	border-right: none;
	border-top: 7px solid #2790B0;
	content: '';
	display: inline-block;
	left: 45%;
	position: absolute;
	top: 0px;
}
ul#filters, #filters-blog
{
	display: inline-block;
	float: left;
	list-style: none;
	margin: 0px 3px 0px;
	padding: 0px;
}
ul#filters > li, #filters-blog a
{
	float: left;
	list-style: none;
	margin: 0px 3px;
}
#filters .dropdown-menu:after
{
	border-bottom: 0px;
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	content: '';
	display: inline-block;
	left: 45%;
	position: absolute;
	top: 0px;
}
#filters .dropdown-menu li a
{
	background: #ffffff;
	color: #333;
	display: inline-block;
	float: left;
	font-size: 100%;
	font-weight: 200;
	line-height: 16px;
	padding: 5px 8px;
	text-align: left;
	text-decoration: none;
	text-shadow: none;
	vertical-align: baseline;
	white-space: nowrap;
}
#filters .dropdown-menu li a:hover
{
	color: #2790B0;
}

.banner_rotator
{
	display: block;
	height: 450px;
	margin-left: auto;
	margin-right: auto;
	max-width: 1350px;
	padding-top: 50px;
}
.show-case-item
{
	float: left;
}
.flex-control-nav
{
	bottom: 15px;
	position: absolute;
	text-align: center;
	width: 100%;
	width: auto;
}

/************************************  PROJECTS ITEMS & ISOTOPE & FILTERS ****************/

#filters a, #filters-blog a
{
	background: #2790B0;
	color: #fff;
	color: #ffffff;
	display: inline-block;
	font-size: 120%;
	font-weight: normal;
	line-height: 16px;
	padding: 5px 8px;
	text-decoration: none;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	vertical-align: baseline;
	white-space: nowrap;
}
#filters a:hover, #filters-blog a:hover
{
	background: #003060;
}
#filters a.active, #filters-blog a.active
{
	background: #003060;
}
.project-item-overlay .inner ul li a.proj-btn:hover
{
	background: #003060;
}
.project-item-overlay .inner ul li a.proj-btn
{
	background: #2790B0;
	border-radius: 0px;
	box-shadow: 26px 26px 22px rgba(50, 50, 50, 0.42);
	color: #fff;
	color: black !important;
	cursor: pointer;
	display: inline-block;
	font-size: 11px;
	font-weight: 600;
	margin: 3px;
	-moz-border-radius: 0px;
	-moz-box-shadow: 26px 26px 22px rgba(50, 50, 50, 0.42);
	-moz-transition: all 0.2s ease-in-out;
	-moz-transition: background-color 0.1s ease-out, color 0.1s ease-out;
	-o-transition: all 0.2s ease-in-out;
	-o-transition: background-color 0.1s ease-out, color 0.1s ease-out;
	padding: 10px;
	transition: all 0.2s ease-in-out;
	transition: background-color 0.1s ease-out, color 0.1s ease-out;
	-webkit-box-shadow: 26px 26px 22px rgba(50, 50, 50, 0.42);
	-webkit-transition: all 0.2s ease-in-out;
	-webkit-transition: background-color 0.1s ease-out, color 0.1s ease-out;
}
.project-item-overlay .inner ul li a.proj-btn [class^="fa-icon-"].fa-icon-large, li [class*=" fa-icon-"].fa-icon-large
{
	color: #fff;
}
.project-item-overlay .inner ul li a.detail-link
{
	color: #CCC !important;
	display: block;
	margin-top: 5px;
	-moz-transition: color 0.1s ease-out;
	-o-transition: color 0.1s ease-out;
	text-transform: lowercase;
	transition: color 0.1s ease-out;
	-webkit-transition: color 0.1s ease-out;
}
.project-item-image-container .project-item-overlay .inner ul li a:hover, .project-item-image-container .project-item-overlay .inner ul li a:active
{
	color: #2790B0;
	outline: 0;
}
.project-item-image-container .project-item-overlay .inner ul li a:hover
{
	color: #2790B0;
	text-decoration: none;
}
.project-item-image-container .project-item-overlay .inner ul li a
{
	color: #0085BD;
	text-decoration: none;
}
.project-item
{
	margin-bottom: 30px;
}
.project-item-overlay .inner ul
{
	list-style: none;
	margin-left: 0px;
}
.project-item-overlay
{
	background: rgba(250, 250, 250, 0.8);
	display: block;
	filter: alpha(opacity=0);
	height: 100%;
	left: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	opacity: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.project-item-overlay .inner
{
	display: block;
	position: relative;
	text-align: center;
	top: 30%;
	width: 100%;
}
.project-item-overlay:hover, .slide:hover .project-item-overlay
{
	-moz-transition: 0.3s ease-out;
	opacity: 1;
	-o-transition: 0.3s ease-out;
	transition: 0.3s ease-out;
	-webkit-transition: 0.3s ease-out;
}
.project-item-image-container
{
	border: none;
	cursor: pointer;
	height: 100%;
	position: relative;
	width: 100%;
}
.project-item-image-container:hover, .project-item :hover .project-item-image-container
{
	filter: alpha(opacity=100);
	-moz-transition: background-color 0.2s ease-out, color 0.1s ease-out;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1;
	-o-transition: background-color 0.2s ease-out, color 0.1s ease-out;
	transition: background-color 0.2s ease-out, color 0.1s ease-out;
	-webkit-transition: background-color 0.2s ease-out, color 0.1s ease-out;
}
.project-item-image-container > img
{
	width: 100%!important;
}

.isotope .isotope-item
{
	-moz-transition-property: -moz-transform, opacity;
	-ms-transition-property: -moz-transform, opacity;
	-o-transition-property: top, left, opacity;
	transition-property: transform, opacity;
	-webkit-transition-property: -webkit-transform, opacity;
}
.isotope-item
{
	-moz-transition-duration: 0.8s;
	-ms-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	transition-duration: 0.8s;
	-webkit-transition-duration: 0.8s;
	z-index: 2;
}
/************************************ END FILTERS ISOTOPE & PROJECTS ITEMS ****************/

/******************************* SINGL PROJECT **********************************/
.large-sl
{
	position: relative;
}
.slides, .flex-control-nav, .flex-direction-nav
{
	list-style: none;
	margin: 0;
	padding: 0;
}
.portfolio-controls-single
{
	display: inline-block;
	position: absolute;
	right: 0px;
	top: 60px;
}
.flex-viewport
{
	min-height: 100%;
}

/******************************** TESTIMONIALS ********************************/
.testimonials .slide
{
	margin-left: 30px;
}
.testimonials .slide:first-child
{
	margin-left: 0px;
}
/**************************************** RESPONSIVE VIDEO **************************************/
video
{	 min-width:100%;
	height: auto;
	width: 100%;
}
.container-video
{
	width: 100%; min-width:100%;
	position: relative;
	padding: 0;
	height:100%;
}
.vendor
{
	margin-bottom: 2em;
}
.side_bar .vendor .container-video video, .side_bar .vendor .container-video iframe {min-width:100%; width:100%; height:auto;} 
/************************ CUSTOM FONT SIZES *********************************/
.big-text
{
	font-size: 120%;
	line-height: 1em;
}
.big-text ul li
{
	margin: 10px 0px;
}
.large-text
{
	font-size: 200%;
	line-height: 1em;
}
.xlarge-text
{
	font-size: 300%;
	line-height: 1.2em;
}
.xxlarge-text
{
	font-size: 400%;
	line-height: 1.4em;
}
.xxxlarge-text
{
	font-size: 500%;
	line-height: 1.5em;
}
.xxxxlarge-text
{
	font-size: 600%;
	line-height: 1.7em;
}
.floats-l > ul
{
	float: left;
	width: 40%;
}

.fa-icon-xxlarge
{
	font-size: 400%;
}
.fa-icon-xlarge
{
	font-size: 300%;
}
.fa-icon-large
{
	font-size: 200%;
}
/**************************** TO TOP (badge to scroll to top)**************/
#toTop
{
	background: #2790B0 url(../../assets/img/totop.png) top left no-repeat;
}
#toTop:hover
{
	background: #0085BD url(../../assets/img/totop.png) top left no-repeat;
	box-shadow: 6px 6px 4px rgba(50, 50, 50, 0.22);
	-moz-box-shadow: 6px 6px 4px rgba(50, 50, 50, 0.22);
	-webkit-box-shadow: 6px 6px 4px rgba(50, 50, 50, 0.22);
}
#toTop
{
	border: none;
	bottom: 60px;
	display: none;
	height: 51px;
	overflow: hidden;
	position: fixed;
	right: 13px;
	text-decoration: none;
	text-indent: 100%;
	width: 51px;
	z-index: 100;
}
#toTop:active, #toTop:focus
{
	outline: none;
}
/**************************** END TO TOP ********************************************/

/*************************** CUSTOM BUTTON **************************************/
.btn-action
{
	background-color: hsl(106, 42%, 43%) !important;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#559b3f), to(#559b3f));
	background-image: linear-gradient(#559b3f, #559b3f);
	background-image: -moz-linear-gradient(top, #559b3f, #559b3f);
	background-image: -ms-linear-gradient(top, #559b3f, #559b3f);
	background-image: -o-linear-gradient(top, #559b3f, #559b3f);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #559b3f), color-stop(100%, #559b3f));
	background-image: -webkit-linear-gradient(top, #559b3f, #559b3f);
	background-repeat: repeat-x;
	border-radius: 3px;
	color: #fff !important;
	color: #fff;
	display: inline-block;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#559b3f", endColorstr="#559b3f");
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 28px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	overflow: visible;
	padding: .4em 1.4em;
	text-decoration: none;
	text-shadow: 0 1px 0 #a9db3c;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.00);
	text-transform: uppercase;
	-webkit-border-radius: 3px;
	-webkit-font-smoothing: antialiased;
}
.btn-action:hover
{
	background-color: hsl(102, 52%, 43%) !important;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#56a634), to(#56a634));
	background-image: linear-gradient(#56a634, #56a634);
	background-image: -moz-linear-gradient(top, #56a634, #56a634);
	background-image: -ms-linear-gradient(top, #56a634, #56a634);
	background-image: -o-linear-gradient(top, #56a634, #56a634);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #56a634), color-stop(100%, #56a634));
	background-image: -webkit-linear-gradient(top, #56a634, #56a634);
	background-repeat: repeat-x;
	border-color: #56a634 #56a634 hsl(102, 52%, 43%);
	color: #fff !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#56a634", endColorstr="#56a634");
	text-decoration: none;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.00);
	-webkit-font-smoothing: antialiased;
}
.btn-action:active
{
	background-color: hsl(94, 50%, 34%) !important;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#50822b), to(#50822b));
	background-image: linear-gradient(#50822b, #50822b);
	background-image: -moz-linear-gradient(top, #50822b, #50822b);
	background-image: -ms-linear-gradient(top, #50822b, #50822b);
	background-image: -o-linear-gradient(top, #50822b, #50822b);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #50822b), color-stop(100%, #50822b));
	background-image: -webkit-linear-gradient(top, #50822b, #50822b);
	background-repeat: repeat-x;
	border-color: #50822b #50822b hsl(94, 50%, 34%);
	color: #fff !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#50822b", endColorstr="#50822b");
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.00);
	-webkit-font-smoothing: antialiased;
}

/********************************* CUSTOM LINES ******************************************/
.line
{
	border-bottom: 1px solid #2790B0;
	display: block;
	margin: 40px 0px 30px;
	padding-bottom: 10px;
}
.line span
{
	border-bottom: 10px solid #2790B0;
	padding: 0px 10px 8px 10px;
	position: relative;
}
.line span:before
{
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	border-top: 9px solid #2790B0;
	bottom: -19px;
	content: '';
	display: inline-block;
	left: 45%;
	position: absolute;
}
.line-proj
{
	border-bottom: 1px solid #2790B0;
	display: block;
	margin: 40px 0px 30px;
	padding-bottom: 0px;
}
.line-proj .proj
{
	border-bottom: 10px solid #2790B0;
	display: inline-block;
	padding: 0px 0px 5px 0px;
	position: relative;
}
.blog-filter .proj
{
	border-bottom: 10px solid #2790B0;
	display: inline-block;
	padding: 0px;
	position: relative;
}
.line-proj .proj:before
{
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	border-top: 9px solid #2790B0;
	bottom: -19px;
	content: '';
	display: inline-block;
	left: 45%;
	position: absolute;
}
.line2
{
	border-bottom: 1px solid #2790B0;
	display: block;
	margin: 10px 0px 30px;
	padding-bottom: 3px;
}
.line2 span
{
	border-bottom: 6px solid #2790B0;
	padding: 0px 10px 11px 10px;
	position: relative;
}
.line2 span:before
{
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #2790B0;
	bottom: -12px;
	content: '';
	display: inline-block;
	left: 45%;
	position: absolute;
}
.line3
{
	border-bottom: 1px solid #2790B0;
	display: block;
	margin: 0px 0px 15px;
	padding-bottom: 3px;
}
.line3 span
{
	border-bottom: 5px solid #2790B0;
	padding: 0px 10px 3px 10px;
	position: relative;
}
.line3 span:before
{
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #2790B0;
	bottom: -8px;
	content: '';
	display: inline-block;
	left: 45%;
	position: absolute;
}
.center
{
	text-align: center;
}

.middle-line
{
	border-bottom: 1px dashed #ccc;
}
.middle-line span
{
	background: #fff;
	display: inline-block;
}
/******************************* CUSTOM TITLES ***********************************/
h3.features-title
{
	font-size: 120%;
	text-transform: uppercase;
}
.standart-h2title
{
	font-size: 100%;
	line-heigh: 24px;
	text-transform: uppercase;
}
.standart-h3title
{
	font-size: 120%;
	text-transform: uppercase;
}
.standart-h4title
{
	font-size: 100%;
	text-transform: uppercase;
}


/***************************** CUSTOM WORD COLORS *******************************************/
.main-color, .firstword
{
	color: #2790B0;
}
.red
{
	color: red;
}



/***************************** SITEMAP ***********************************/
ul.sitemap
{
	display: inline-block;
	list-style: none;
	margin-bottom: 30px;
	margin-top: 0px;
}
ul.sitemap li
{
	font-size: 140%;
	list-style: none;
	margin: 15px 0px;
	padding-left: 18px;
	position: relative;
}
ul.sitemap li a
{
	border-left: 4px solid #dedede;
	color: #fff;
	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	padding: 12px;
	text-decoration: none;
	transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
}
ul.sitemap li a:hover
{
	background: #005580;
	box-shadow: 2px 2px 0px rgba(50, 50, 50, 0.5);
	margin-left: -3px;
	margin-top: -3px;
	-moz-box-shadow: 2px 2px 0px rgba(50, 50, 50, 0.5);
	text-decoration: none;
	-webkit-box-shadow: 2px 2px 0px rgba(50, 50, 50, 0.5);
}
ul.sitemap li a
{
	background: #2790B0;
	padding: 5px;
}
ul.sitemap li > ul > li
{
	font-size: 90%;
}
/************************************ 404 page ****************************************/
.marginpage
{
	margin-left: 40px;
	margin-top: 20px;
}
.needhead h1.error-title
{
	font-size: 700%;
	font-weight: 700;
	line-height: 100%;
	margin-top: 80px;
}
/************************************ INPUTS *************************************/
.input-large, input[type="text"].input-large
{
	float: left;
	height: 20px;
	padding: 12px 30px;
	width: 50%;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input
{
	border-radius: 1px;
	color: #555555;
	display: inline-block;
	font-size: 12px;
	height: 30px;
	line-height: 28px;
	-moz-border-radius: 1px;
	padding: 4px 6px;
	vertical-align: middle;
	-webkit-border-radius: 1px;
}



/****************************** FOOTER ELEMENTS *******************************/
.footer {
	margin-top: 70px;
	border-top: 1px solid #e5e5e5;
	background:#222 url(../img/bg_footer.png);
	padding: 30px 0 0 0;
	color: #919191;
}
footer .copyright {
	border-bottom: 0px;
	font-size: 0.8em;
	margin-bottom: 40px;
}
.footer ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.footer.nomargintop{
margin-top:0px;
}
.twitter-bottom
{
	background-color: #222;
	border-bottom: none;
	border-left: 4px solid #2790B0;
	border-radius: 0px;
	border-right: none;
	border-top: none;
	box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.65);
	margin-bottom: 40px;
	min-height: 20px;
	-moz-border-radius: 0px;
	-moz-box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.65);
	padding: 19px;
	position: relative;
	-webkit-border-radius: 0px;
	-webkit-box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.65);
}
.twitter-bottom:before
{
	border-bottom: 9px solid transparent;
	border-right: 9px solid #2790B0;
	border-top: 9px solid transparent;
	content: '';
	display: inline-block;
	left: -10px;
	position: absolute;
	top: 5%;
}
.twitter-bottom a
{
	border-bottom: 1px dotted;
}
.twitter-bottom a:hover
{
	text-decoration: none;
}
.footer-links li a
{
	padding-left: 10px;
	color:#2790B0;
}
.footer address
{
	padding-left: 10px;
}
.footer .socialIcons
{
	padding-left: 10px;
}
.twitter-sign
{
	display: inline-block;
	margin: 5px 5px 10px auto;
	text-align: center;
	width: 100%;
}
.caption ul.socialIcons
{
	display: block;
	float: none;
	width: 100%;
}
.phone-info
{
	display: inline-block;
	margin: 3px 0px;
	width: 100%;
}
/****************************** end FOOTER *******************************/
/************************** RESPONSIVE MAP *****************************************/
#map
{
	display: block;
	height: 250px;
	width: 100%;
}


/******************************* LANDING PAGE *************************************/
#landing-form
{
	background-color: #fefefe;
	border: 1px solid #AAAAAA;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.15);
	color: #666;
	font-size: 120%;
	line-height: 24px;
	margin: 10px 20px 0 20px;
	margin-bottom: 20px;
	min-height: 20px;
	min-width: 290px;
	-moz-border-radius: 4px;
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.15);
	padding: 19px;
	text-shadow: none;
	-webkit-border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.15);
}

/************************* Faded out custom style <hr/> ****************************/
hr.half {
	height: 1px;
	margin: 40px 0;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
	background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
	background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
	border: 0;
}
hr.half1 {
	height: 1px;
	margin: 40px 0;
	background-image: -webkit-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,.1), rgba(255,255,255,0));
	background-image: -moz-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,.1), rgba(255,255,255,0));
	background-image: -ms-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,.1), rgba(255,255,255,0));
	background-image: -o-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,.1), rgba(255,255,255,0));
	border: 0;
}
hr.half2 {
	margin: 0 0 40px 0;
}
.copyhr {
	background-image: -webkit-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,.8), rgba(255,255,255,0));
	background-image: -moz-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,.8), rgba(255,255,255,0));
	background-image: -ms-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,.8), rgba(255,255,255,0));
	background-image: -o-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,.8), rgba(255,255,255,0));
	margin-bottom: 40px !important;
}

/*********************** PLUS STYLES *********************************/
#main-nav select {
display: none;
}
.headertop{
position:relative;
}
textarea.span8, textarea.span12{
min-height:120px; height:120px;
}

/**************************************** @MEDIA *********************************/
@media (min-width: 1201px)
{
	.thumbnails > li:first-child
	{
		margin-left: 0px;
	}
}

/*@media (max-width: 1200px)
{
	.navbar .brand img
	{
	max-height: 70px;
	max-width: 130px;
	width:auto;

	}
	.nav-reaction.nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a {
	padding: 0;
}
}*/

@media (max-width: 980px) and (min-width: 768px)
{
body > .navbar-fixed-top .brand {
	float: right;
	margin-left: 0;
	padding-left: 10px;
	padding-right: 10px;
}
.nav-reaction.nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a {
	padding: 0;
}


	.navbar .nav > li > a
	{
		font-size: 85%;
		padding-left: 10px;
		padding-right: 10px;
	}
	.pint-blog p
	{
		line-height: 16px;
	}
	.pull-right
	{
		float: none;
	}
	.main-nav .nav > li:hover a
	{
		background: #2790B0;
		color: #fff;
		text-shadow: none;
	}
	.nav-reaction .dropdown-menu
	{
		position: absolute;
	}
	.needhead h1
	{
		font-size: 2em;
	}
	.needhead p.medium
	{
		font-size: 90%;
	}
	.banner-img
	{
		margin-top: 40px;
	}
	.banner-item .container
	{
		margin-top: 0px;
	}
	.banner_rotator
	{
		height: 300px;
	}
	.needhead
	{
		height: 500px;
	}
	.toggle-img img
	{
		top: -50%;
	}
}

@media (max-width: 979px)
{
.nav-collapse .nav {
float: left;
margin: 0 0 10px;
}

.navbar .brand img
{
	max-height: 70px;
	max-width: 130px;
	width:auto;

}
.nav-collapse .nav > li{
float:left;
}
.nav-collapse, .nav-collapse.collapse {
overflow: hidden;
height: 0;
float:right;
clear:none;
}
	.nav-collapse .nav > li > a
	{
		margin-bottom: 0px;
	}
	.navbar .nav > li.active a:hover
	{
	}
}

@media (min-width: 768px) and (max-width: 980px) {
/* Remove any padding from the body */
body {
	padding-top: 0;
}

.needhead h1 {
	font-size: 2em;
}
.needhead p,  .needhead .btn {
	font-size: 18px;
}
.nav-collapse, .nav-collapse.collapse {
height: auto !important;
overflow: visible !important;


}

}	
@media (max-width: 767px)
{
body{
padding-left:0px;
padding-right:0px;
}
	.line span
	{
		border-bottom: 0;
		padding: 0px 10px 8px 10px;
		position: relative;
	}

	.needhead{
		max-height: 120px;
	}

	#headerImg{
		margin-bottom: 10px;
	}
	.needhead h1.error-title
	{
		font-size: 300%;
		font-weight: 700;
		line-height: 100%;
		margin-top: 60px;
	}
	.navbar-inner
	{
		min-height: 40px;
		padding-left: 0px;
		padding-right: 0px;
	}
	.navbar-static-top
	{
		margin-left: 0px;
		margin-right: 0px;
	}
	.banner-item .container
	{
		padding-right: 55px;
	}
	.needhead h1
	{
		font-size: 2em;
	}
	.needhead p.medium
	{
		font-size: 90%;
	}
	.banner_rotator
	{
		height: 300px;
	}
	.needhead
	{
		height: 500px;
	}
	.line span:before
	{
		border-left: 9px solid transparent;
		border-right: 9px solid transparent;
		border-top: 0px;
		bottom: -19px;
		content: '';
		display: inline-block;
		left: 45%;
		position: absolute;
	}
	.toggle-img img
	{
		top: 0%;
	}
	ul#filters > li, #filters-blog a, #filters a
	{
		font-size: 70%;
	}
	.banner-to-right
	{
		text-align: center;
	}
	.pull-right
	{
		float: none;
	}
	.navbar .brand
	{
		float: none;
		text-align: center;
	}
	.btn-action
	{
		font-size: 125%;
	}
	.navbar .nav > li > a:hover, .navbar .nav > li > a:hover, .navbar .nav .sfHover > a
	{
		background: #2790B0;
		color: #fff;
		text-shadow: none;
	}
	.label-xl, .badge-xl
	{
		background: #2790B0 url(../../assets/img/header-shine.png) top left no-repeat;
		background-size: 100% 100%;
		color: #ffffff;
		display: inline-block;
		font-size: 11.844px;
		font-weight: bold;
		line-height: 14px;
		margin-bottom: 15px;
		padding: 21px 8px;
		position: relative;
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
		vertical-align: baseline;
		white-space: nowrap;
	}
	.label-l, .badge-l
	{
		background: #2790B0 url(../../assets/img/header-shine.png) top left no-repeat;
		background-size: 100% 100%;
		color: #ffffff;
		display: inline-block;
		font-size: 11.844px;
		font-weight: bold;
		line-height: 14px;
		margin-bottom: 15px;
		padding: 15px 5px;
		position: relative;
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
		vertical-align: baseline;
		white-space: nowrap;
	}
	.label-xl:before, .label-l:before
	{
		border-left: 9px solid transparent;
		border-right: 9px solid transparent;
		border-top: 9px solid #2790B0;
		bottom: -9px;
		content: '';
		display: inline-block;
		left: 47%;
		position: absolute;
	}
	.label-xl:after, .label-l:after
	{
		border-left: 0;
		border-right: 0;
		border-top: 0;
		bottom: -9px;
		content: '';
		display: inline-block;
		left: 47%;
		position: absolute;
	}
	.blog p img, .blog p img.pull-right
	{
		float: none;
		margin: 0px 0px 10px 0px;
		padding-left: 0px;
		width: 100%;
	}
	.twitter-bottom
	{
		background-color: #222;
		border-bottom: none;
		border-left: 0px;
		border-radius: 0px;
		border-right: none;
		border-top: 4px solid #2790B0;
		box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.65);
		margin-bottom: 40px;
		min-height: 20px;
		-moz-border-radius: 0px;
		-moz-box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.65);
		padding: 19px;
		position: relative;
		-webkit-border-radius: 0px;
		-webkit-box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.65);
	}
	.twitter-bottom:before
	{
		border-left: 9px solid transparent;
		border-right: 9px solid transparent;
		border-top: 9px solid #2790B0;
		content: '';
		display: inline-block;
		left: 47%;
		position: absolute;
		top: 0px;
	}
	.thumbnails > li
	{
		float: none;
		margin-left: 20;
	}
	body
	{
		padding-left: 0px;
		padding-right: 0px;
		padding:0px;
	}
	.container, .navbar .container
	{
		padding-left: 20px;
		padding-right: 20px;
	}

.headertop{
position:relative;
}
#main-nav select {
display: inline-block;
width: 90% !important;
margin-left: 5%;
}

#main-nav ul {
	display: none;
}
#main-nav select {
	display: inline-block;
	width: 90% !important;
	margin-left:5%;
}
#main-nav {
	position: relative;
	right: auto;
	top: auto;
	width: 100%
}
* Remove any padding from the body */
body {
	padding-top: 0;
}
/* Widen needhead and social buttons to fill body padding */
.headertop {

	/*margin-top: -20px;*/ /* Offset bottom margin on .navbar */
	margin-right: -20px;
	margin-left: -20px;
}
.needhead h1 {
	font-size: 2em;
}
.needhead p,  .needhead .btn {
	font-size: 16px;
}
.marketing .span4 {
	margin-bottom: 40px;
}
/* Unfloat the back to top link in footer */
.footer {
	margin-left: -20px;
	margin-right: -20px;
	padding-left: 20px;
	padding-right: 20px;
}	


#main-nav {
	float: right;
}
}

@media (max-width: 480px) {
/* Remove padding above headertop */
body {
	padding-top: 0;
}
/* Change up some type stuff */
h2 small {
	display: block;
}
/* Downsize the headertops */
  
 
.headertop .btn {
	display: block;
	margin: 0 auto;
}
.needhead h1 {
	font-size: 2em;
}
.needhead p,  .needhead .btn {
	font-size: 14px;
}
/* center align subhead text like the needhead */
.subhead h1,  .subhead p {
	text-align: center;
}
/* Marketing on home */
.marketing h1 {
	font-size: 40px;
}

/* Do our best to make tables project in narrow viewports */
table code {
	white-space: normal;
	word-wrap: break-word;
	word-break: break-all;
}
/* Modal example */
.modal-example .modal {
	position: relative;
	top: auto;
	right: auto;
	bottom: auto;
	left: auto;
}
/* Unfloat the back to top in footer to prevent odd text wrapping */
.footer .pull-right {
	float: none;
}
.navbar .btn-navbar {
	margin-top: 50px;
}
#project-filter {
	float: left;
}
.blog .indexMeta h2 {
	width: 200px;
	font-size: 20px !important;
}
}
