body{
font-family: sans-serif;

}
.main-wrapper{
width:100%;
min-width:100%;
max-width:100%;
margin-right:auto;
margin-left:auto;
min-height:100%;
height:100%;
overflow:hidden;
}
/**************** TO TOP *******************************************************/

#toTop {
	
	background:#2790B0 url(../../assets/img/totop.png) top left no-repeat;
	
}

#toTop:hover {
	background:#0085BD url(../../assets/img/totop.png) top left no-repeat;
	-webkit-box-shadow: 6px 6px 4px rgba(50, 50, 50, 0.22);
-moz-box-shadow: 6px 6px 4px rgba(50, 50, 50, 0.22);
box-shadow: 6px 6px 4px rgba(50, 50, 50, 0.22);
}

#toTop {
display: none;
text-decoration: none;
position: fixed;
bottom: 60px;
right: 13px;
overflow: hidden;
width: 51px;
height: 51px;
border: none;
text-indent: 100%;
z-index: 100;
}

#toTop:active, #toTop:focus {
	outline:none;
}
/******************************* CUSTOM TITLES ********************************/
.folio-title{
margin: 0px 0px 20px 0px;
line-height: 34px;
padding: 10px;
background: #fafafa;
display: inline-block;
border-bottom: 1px solid #2790B0;
font-size: 140%;
text-transform: uppercase;
}

/**************** NAVBAR + MENU <a> *******************************/
.navbar-inner {
background-color: none;
background-image: none;
background-image: none;
background-image: none;
background-image: none;
background-image: none;
background-repeat: none;
border: none;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
filter: none;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
background:rgba(250,250,250, 1);
}



.navbar .brand{
max-height:60px;

}
.nav-reaction{
-webkit-box-shadow: 0px 5px 12px rgba(50, 50, 50, 0.35);
-moz-box-shadow:    0px 5px 12px rgba(50, 50, 50, 0.35);
box-shadow:         0px 5px 12px rgba(50, 50, 50, 0.35);
width:100%;
min-width:100%;
max-width:100%;
margin-right:auto;
margin-left:auto;
z-index:1000;
position:relative;
background:#fff;
border-top: 4px solid #2790B0;
}

/********************** PARALLAX SLIDER COLORS ***********************/

.da-slide h2{
	
	border-left: 4px solid #2790B0;
	
}

.needhead .da-slide p{
	
	border-left: 4px solid #2790B0;
}
/************************** SOCIAL TOP *************************************/
.top-soc{
position:absolute;
top:140px;
left:0px;
width:100%;
display:block;
z-index:900;
background: rgba(103, 179, 227, 0.3);
text-align:left;

}
.social-top{
display:block;
margin:0px;
padding:0px;
padding-left:30px;
padding-right:30px;
float:left;
margin-left:10px;

}
.social-top li{
list-style:none;
float:left;
display:block;
width:40px;
height:30px;
background: rgba(103, 179, 227, 0.2);
text-align:center;
padding-top:10px;
border-right:#dedede;
margin-right:1px;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;

}
.social-top li:hover{
background: #8eb61c;
}
.social-top li:first-child{
border-left:rgba(250, 250, 250, 1);
}
.social-top li a{
color:#fff;
}
.social-top li a:hover{
color:#dedede;
text-decoration:none;
}
/************************** END SOCIAL TOP *************************************/

/********************************** NAVBAR **************************************/
.navbar .nav {
position: relative!important;
left: 0!important;
display: block!important;
float: right!important;
margin: 0px 0px 0 0!important;
}

.navbar .brand img{
max-height:70px;
width:auto;
}
.navbar .nav > li > a {
float: none;
padding: 50px 20px  30px  20px;
background: none;
font-weight:600;
text-shadow:none;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {

text-decoration: none;
background-color: none;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
background: #2790B0;


}

.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
background-color: none;
color: #2790B0;
background:none;
}

.nav-reaction .dropdown-menu li{
width:100%;
}

.nav-reaction .dropdown-menu.pull-right {
	right: 0;
	left: auto;
}
.nav-reaction .dropdown-menu .divider {
 *width: 100%;
	height: 1px;
	margin: 9px 1px;
 *margin: -5px 0 5px;
	overflow: hidden;
	background-color: #e5e5e5;
	border-bottom: 1px solid #ffffff;
}
.nav-reaction .dropdown-menu a {
	display: block;
	border-bottom: 1px solid #DFDFDF;
	clear: both;
	font-weight: normal;
	line-height: 2;
	color: #333;
	white-space: nowrap;
	text-align: left;
	padding-left: 0px;
	text-shadow: none;
}
.nav-reaction .dropdown-menu li:hover, .nav-reaction .dropdown-menu li:focus {
	color: #2790B0;
	text-decoration: none;
	
	
}
.nav-reaction .dropdown-menu .active > a, .nav-reaction .dropdown-menu .active > a:hover {
	color: #232323;
	text-decoration: none;
	background-color: #ffffff;
	filter: none;
}

.nav-reaction .active {
	
}
.nav-reaction .dropdown-menu li:last-child a {
	border-bottom: none;
}

.navbar .nav > li.active > a{
color:#fff;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.navbar .nav > li > a:hover{

	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.action-banner-bg{
	position: absolute;
	z-index: -1000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size:100% 100%;
	
	/*background: #2790B0;
background: -moz-linear-gradient(45deg, #003060 0%,#2790B0  100%);
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#003060), color-stop(100%,#2790B0));
background: -webkit-linear-gradient(45deg, #003060 0%,#2790B0 100%);
background: -o-linear-gradient(45deg, #003060 0%,#2790B0 100%);
background: -ms-linear-gradient(45deg, #003060 0%,#2790B0 100%);
background: linear-gradient(45deg, #2790B0 0%,#003060 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003060', endColorstr='#2790B0',GradientType=1 );*/
background: #003060 url(../img/bomarOffice.png) top center repeat;
-webkit-box-shadow: 0px 5px 12px rgba(50, 50, 50, 0.35) inset;
-moz-box-shadow: 0px 5px 12px rgba(50, 50, 50, 0.35) inset;
box-shadow: 0px 5px 12px rgba(50, 50, 50, 0.35) inset;
}
.action-banner-bg-top{
	position: absolute;
	z-index: -999;
	top: 0;
	right: 0;
	width:100%;
	height: 100%;
	background: url(../img/pixel.png) top left repeat;
	
}
.action-banner-bg img {
	height: 100%;
	width: 100%;
}

.nav-pills .sfHover > a {

}

.nav-tabs > li > a {
padding-top: 8px;
padding-bottom: 8px;
line-height: 20px;
border: 1px solid transparent;
-webkit-border-radius: 4px 4px 0 0;
-moz-border-radius: 4px 4px 0 0;
border-radius: 4px 4px 0 0;
}
.nav-tabs > li > a, .nav-pills > li > a {
padding-right: 12px;
padding-left: 12px;
margin-right: 2px;
line-height: 14px;
}
.nav-tabs > li > a:hover {
  border-color: #eeeeee #eeeeee #dddddd;
}
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
  color: #555555;
  background-color: none;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  cursor: default;
}
.nav-pills > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 2px;
  margin-bottom: 2px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.nav-pills > .active > a,
.nav-pills > .active > a:hover {
  color: #ffffff;
  background-color: none;
}
.nav > li > a:hover {
  text-decoration: none;
  background-color: none;
}

/*************************** RESPONSIVE VIDEO ***************************/

 video {
            width: 100%;
            height: auto;
          }
          
          .container-video {
            width: 100%;
            padding: 0%;
            margin:0px auto;
            
          }
          
          .vendor {
            
           
            margin-bottom: 2em;
          }
          
          
/******************************** FONT SIZES + ******************************/
.big-text{
font-size:120%;
line-height:1em;
}
.big-text ul li{
margin:10px 0px;
}
.large-text{
font-size:200%;
line-height:1em;
}

.xlarge-text{
font-size:300%;
line-height:1.2em;
}

.xxlarge-text{
font-size:400%;
line-height:1.4em;
}

.xxxlarge-text{
font-size:500%;
line-height:1.5em;
}

.xxxxlarge-text{
font-size:600%;
line-height:1.7em;
}

/************************************ FLOATS ***********************************/

.floats-l > ul{
float:left;
width:40%;
}
/******************************* DROPDOWN ************************************/
.nav-reaction .dropdown-menu {
	position: absolute;
	top: 100%;
	right:0px;
	z-index: 1010;
	display: none;
	min-width: 160px;
	padding: 0;
	margin: 0;
	list-style: none;
	line-height: 2;
	*border-right-width: 2px;
	*border-bottom-width: 2px;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
	background-color: white;
	border-top: 4px solid #2790B0;
	border-bottom: 4px solid #2790B0;
	-webkit-box-shadow: 0px -7px 5px rgba(50, 50, 50, 0.33);
	-moz-box-shadow:    0px -7px 5px rgba(50, 50, 50, 0.33);
	box-shadow:         0px -7px 5px rgba(50, 50, 50, 0.33);
	padding: 3px 12px;
	color: #333;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}


.dropdown-menu {
	position: absolute;
	top: 90%;
	/*left: -5%;*/
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 0;
	margin: 0;
	list-style: none;
	line-height: 2;
 *border-right-width: 2px;
 *border-bottom-width: 2px;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
	background-color: white;
	border-top: 4px solid #2790B0;
	border-bottom: 4px solid #2790B0;
	
	/*-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.1);
	box-shadow: 0 1px 3px rgba(0, 0, 0, .1);*/
	-webkit-box-shadow: 0px -7px 5px rgba(50, 50, 50, 0.33);
-moz-box-shadow:    0px -7px 5px rgba(50, 50, 50, 0.33);
box-shadow:         0px -7px 5px rgba(50, 50, 50, 0.33);
	padding: 3px 12px;
	color: #333;
	
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
#filters .dropdown-menu{

}
.blog-line .line-proj .proj {

margin-bottom: -5px;
}
#filters .dropdown-menu:before {
  content: '';
  display: inline-block;
  border-left:none;
  border-right:none;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom:  #2790B0;
  border-top: 7px solid #2790B0;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0px;
  left: 45%;
  
}
ul#filters, #filters-blog{
display:inline-block;
list-style:none;
margin:0px 3px 0px;
padding:0px;
float:left;
}
ul#filters > li, #filters-blog a{
float:left;
list-style:none;
margin:0px 3px;
}
#filters .dropdown-menu:after {
  content: '';
  display: inline-block;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 0px;
 
  position: absolute;
  top: 0px;
  left: 45%;
}
#filters .dropdown-menu li a{
background: #ffffff;
display: inline-block;
padding: 5px 8px;
font-size: 100%;
line-height: 16px;
color:#333;
vertical-align: baseline;
white-space: nowrap;
text-decoration: none;
text-align:left;
float:left;
font-weight:200;
text-shadow:none;

}
#filters .dropdown-menu li a:hover{
color: #2790B0;

}
.navbar .nav > li > a{
text-shadow:none;
color:#2790B0;
text-transform:uppercase;
font-weight:400;

}
.navbar .nav > li > a:hover,  .navbar .nav > li > a:hover,  .navbar .nav >.sfHover > a{

background:#2790B0;
color:#fff;
text-shadow:none;
}
.sfHover{
/*background:#2790B0;
color:#fff;*/
text-shadow:none;
}
.navbar .nav > li > .dropdown-menu a:hover {
background:none;
color:#2790B0;
}
/*.navbar .nav > li a.dropdown-toggle:hover{
color:#fff;
}*/
.navbar .nav > li > .dropdown-menu:before {
  content: '';
  display: inline-block;
  border-left:none;
  border-right:none;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom:  #2790B0;
  border-top: 5px solid #2790B0;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0px;
  left: 85%;
  
}
.navbar .nav > li > .dropdown-menu:after {
  content: '';
  display: inline-block;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 0px;
 
  position: absolute;
  top: 0px;
   left: 85%;
}
.navbar-fixed-bottom .nav > li > .dropdown-menu:before {
  border-top: 7px solid #ccc;
  border-top-color: rgba(0, 0, 0, 0.2);
  border-bottom: 0;
  bottom: -7px;
  top: auto;
}
.navbar-fixed-bottom .nav > li > .dropdown-menu:after {
  border-top: 6px solid #ffffff;
  border-bottom: 0;
  bottom: -6px;
  top: auto;
}
.navbar .nav li.dropdown > a:hover .caret, .navbar .nav li.sfHover a.dropdown-toggle .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}
.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: #2790B0;
  color: #fff;
  
}

.navbar .nav li.dropdown > .dropdown-toggle .caret {
  border-top-color: #2790B0;
  border-bottom-color: #2790B0;
}
.navbar .nav li.dropdown.open > .dropdown-toggle .caret,
.navbar .nav li.dropdown.active > .dropdown-toggle .caret,
.navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}
.navbar .pull-right > li > .dropdown-menu,
.navbar .nav > li > .dropdown-menu.pull-right {
  left: auto;
  right: 0;
}
.navbar .pull-right > li > .dropdown-menu:before,
.navbar .nav > li > .dropdown-menu.pull-right:before {
  left: auto;
  right: 12px;
}
.navbar .pull-right > li > .dropdown-menu:after,
.navbar .nav > li > .dropdown-menu.pull-right:after {
  left: auto;
  right: 13px;
}
.navbar .pull-right > li > .dropdown-menu .dropdown-menu,
.navbar .nav > li > .dropdown-menu.pull-right .dropdown-menu {
  left: auto;
  right: 100%;
  margin-left: 0;
  margin-right: -1px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

.dropdown-submenu > ul{
left: 100%;
position:absolute;
top:0%;
background:#fff;
z-index: 1000;

	float: left;
	min-width: 160px;
	padding: 0;
	margin: 0;
	list-style: none;
	line-height: 2;
 *border-right-width: 2px;
 *border-bottom-width: 2px;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
	background-color: white;
	border-top: 4px solid #2790B0;
	border-bottom: 4px solid #2790B0;
	
	/*-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.1);
	box-shadow: 0 1px 3px rgba(0, 0, 0, .1);*/
	-webkit-box-shadow: 0px -7px 5px rgba(50, 50, 50, 0.33);
-moz-box-shadow:    0px -7px 5px rgba(50, 50, 50, 0.33);
box-shadow:         0px -7px 5px rgba(50, 50, 50, 0.33);
	padding: 3px 12px;
	color: #333;
	-webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
	
}

.navbar .nav > li:last-child .dropdown-submenu > ul{
left: -120%;
position:absolute;
top:0%;
background:#fff;
z-index: 1000;

	float: left;
	min-width: 160px;
	padding: 0;
	margin: 0;
	list-style: none;
	line-height: 2;
 *border-right-width: 2px;
 *border-bottom-width: 2px;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
	background-color: white;
	border-top: 4px solid #2790B0;
	border-bottom: 4px solid #2790B0;
	
	/*-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.1);
	box-shadow: 0 1px 3px rgba(0, 0, 0, .1);*/
	-webkit-box-shadow: 0px -7px 5px rgba(50, 50, 50, 0.33);
-moz-box-shadow:    0px -7px 5px rgba(50, 50, 50, 0.33);
box-shadow:         0px -7px 5px rgba(50, 50, 50, 0.33);
	padding: 3px 12px;
	color: #333;
	-webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
	
}
.dropdown-submenu .sfHover > a:hover{
background:none;
background-color:none;
color:#2790B0;
}

 .navbar .nav .sfHover > a li.dropdown .shHover > a{
 background:none;
background-color:none;
color:#2790B0;
 }

.dropdown-submenu:hover > a {
  text-decoration: none;
  color:#2790B0;
  background: none;
  background-image: none;
  background-image: none;
  background-image:none;
  background-image: none;
  background-image: none;
  background-repeat: none;
  filter: none;
}
.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #cccccc;
  margin-top: 8px;
  margin-right: 6px;
}
.dropdown-submenu:hover > a:after {
  border-left-color: #2790B0;
}
/*************************************************************/

.dropdown-menu li > a {
  display: block;
  
  clear: both;
  font-weight: normal;
  line-height: 20px;
  color: #333333;
  white-space: nowrap;

}
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus
 {
  text-decoration: none;
  color: #0081c2;
  background-color: none;
  background-image: none;
  background-image: none;
  background-image: none;
  background-image:none;
  background-image: none;
  background-repeat: repeat-x;
  filter: none;
  background: none;
}
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  color: #0081c2;
  text-decoration: none;
  outline: 0;
  background-color: none;
  background: none;
  background-image: none;
  background-image: none;
  background-image: none;
  background-image:none;
  background-image: none;
  background-repeat: repeat-x;
  filter: none;
}
/******************* SLIDER ********************************/
.banner_rotator{
height:450px;
padding-top:50px;
max-width:1350px;
margin-left:auto;
margin-right:auto;
display:block;

}
.show-case-item{
float:left;
}


.flex-control-nav {
width: auto;
position: absolute;
bottom: 15px;
width:100%;
text-align: center;
}

/* Masthead (home)
------------------------- */
.needhead {
	padding: 40px 0 0px;
	margin-bottom: 0;
	color: #fff;
	margin-top: -40px;
	text-align:left;
	overflow:hidden;
	height:650px;
}
.needhead h1 {
	font-size: 3em;
	color: #fff;
	margin: 50px 0px 0px 40px;
	line-height: 1.1em;
	text-shadow: 0 1px 4px #000000;
	background: rgba(0,0,0,0.5);
	padding: 5px 10px;
	border-left:4px solid #2790B0;
	text-transform:uppercase;
	
	
	
}
.needhead h1 span.top{
	
	padding: 5px 10px 5px;
	display:inline-block;
	
	}
	
.needhead h1 span.bottom{
	
	padding: 5px 10px;
	margin-top: 5px;
	display:inline-block;
	
}
.needhead p {
	font-size: 140%;
	color: #fff;
	line-height: 1.4em;
	font-weight: normal;
	margin: 3px 0px 0px 40px;
	text-shadow: 0 1px 1px #000000;
	display:inline-block;
	padding:5px 10px;
	background: rgba(0,0,0,0.5);
	border-left:4px solid #2790B0;
	

	
}


/* Textual links in needhead */
.needhead span.link-more {
	
	margin: 5px 0px 0px 40px;
	color: #fff;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s ;
	-ms-transition:  0.3s;
	transition: 0.3s;
	display:inline-block;
	

	
}
.needhead span.link-more  a, .needhead span.link-more  a:hover{
	color:#fff;
	text-shadow: 0 1px 1px #000000;
	text-decoration:none;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s ;
	-ms-transition:  0.3s;
	transition: 0.3s;
	
}

.needhead span.link-more  a span.main-link{
	background: rgba(0,0,0,0.8);
	padding: 15px;
	display: inline-block;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s ;
	-ms-transition:  0.3s;
	transition: 0.3s;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	border:4px solid #fff;
}


.needhead span.link-more a span.arrow {
	display: inline-block;
	padding: 15px;
	color: #fff;
	margin: 0px 0px 0px 0px;
	background: rgba(0,0,0,0.8);
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s ;
	-ms-transition:  0.3s;
	transition: 0.3s;
	border:4px solid #fff;
	
}

.needhead span.link-more:hover a span.arrow, .needhead span.link-more:hover  a span.main-link{
	background: rgba(0,0,0,0.9);
	box-sizing:border-box;
	-moz-box-sizing:border-box;

}
.needhead span.link-more:hover a span.main-link{
	
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}
#banner-pagination ul {
	list-style: none;
	margin: 20px 0 0 0;
}
#banner-pagination ul li {
	display: inline;
	width: 25px;
	text-align: center;
}
.banner_rotator .slides{
height:100%;
min-height:100%;
}
.banner_rotator .slide{
display:block;
float:left;
display:none;

height:100%;
min-height:100%;
}
.banner-item .container{
margin-top:0px;
position:relative;
margin-left:auto;
margin-right:auto;
}
.banner-img{
margin-top:40px;
vertical-align:baseline;


}


/*************************** PRELOADER *************************************/
.js div#preloader { 
position: fixed; 
left: 0; 
top: 0; 
z-index: 999; 
width: 100%; 
height: 100%; 
overflow: visible; 
background: #333 url(../img/loading_page.gif) no-repeat center center; 
}

/************************** Action button **********************************/

 .btn-action {
	color: #fff;
	text-shadow: 0 1px 0 #a9db3c;
	display:inline-block;
	line-height:28px;
	text-decoration: none;
	text-transform: uppercase;
	padding: .4em 1.4em;
	/*-webkit-border-radius: 2.8em;
	-moz-border-radius: 2.8em;
	-o-border-radius: 2.8em;
	-ms-border-radius: 2.8em;
	border-radius: 2.8em;*/
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	
	  background-color: hsl(106, 42%, 43%) !important;
	  background-repeat: repeat-x;
	  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#559b3f", endColorstr="#559b3f");
	  background-image: -khtml-gradient(linear, left top, left bottom, from(#559b3f), to(#559b3f));
	  background-image: -moz-linear-gradient(top, #559b3f, #559b3f);
	  background-image: -ms-linear-gradient(top, #559b3f, #559b3f);
	  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #559b3f), color-stop(100%, #559b3f));
	  background-image: -webkit-linear-gradient(top, #559b3f, #559b3f);
	  background-image: -o-linear-gradient(top, #559b3f, #559b3f);
	  background-image: linear-gradient(#559b3f, #559b3f);
	  
	  color: #fff !important;
	  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.00);
	  -webkit-font-smoothing: antialiased;
	font-weight: 700;
	font-style: normal;
	overflow: visible;
	
	font-size: 20px;
}
 .btn-action:hover {
		  background-color: hsl(102, 52%, 43%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#56a634", endColorstr="#56a634");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#56a634), to(#56a634));
  background-image: -moz-linear-gradient(top, #56a634, #56a634);
  background-image: -ms-linear-gradient(top, #56a634, #56a634);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #56a634), color-stop(100%, #56a634));
  background-image: -webkit-linear-gradient(top, #56a634, #56a634);
  background-image: -o-linear-gradient(top, #56a634, #56a634);
  background-image: linear-gradient(#56a634, #56a634);
  border-color: #56a634 #56a634 hsl(102, 52%, 43%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.00);
  -webkit-font-smoothing: antialiased;
  text-decoration:none;
}
 .btn-action:active {
	  background-color: hsl(94, 50%, 34%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#50822b", endColorstr="#50822b");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#50822b), to(#50822b));
  background-image: -moz-linear-gradient(top, #50822b, #50822b);
  background-image: -ms-linear-gradient(top, #50822b, #50822b);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #50822b), color-stop(100%, #50822b));
  background-image: -webkit-linear-gradient(top, #50822b, #50822b);
  background-image: -o-linear-gradient(top, #50822b, #50822b);
  background-image: linear-gradient(#50822b, #50822b);
  border-color: #50822b #50822b hsl(94, 50%, 34%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.00);
  -webkit-font-smoothing: antialiased;
}

.banner-to-right{
text-align:right;
}
.needhead p.medium{
font-size:120%;
}

/******************************* LINES *******************************************/
.line{
border-bottom:1px solid #2790B0;
padding-bottom:10px;
margin:40px 0px 30px;
display:block;
}
.line span{
border-bottom:10px solid #2790B0;
padding:0px 10px 8px 10px;
position:relative;
}

.line span:before{
 content: '';
  display: inline-block;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 9px solid #2790B0;
   position: absolute;
  bottom: -19px;
  left: 45%;

}
.line-proj{
border-bottom:1px solid #2790B0;
padding-bottom:0px;
margin:40px 0px 30px;
display:block;
}
.line-proj .proj{
border-bottom:10px solid #2790B0;
padding:0px 0px 5px 0px;
position:relative;
display:inline-block;
}

.blog-filter .proj{
border-bottom:10px solid #2790B0;
padding:0px;
position:relative;
display:inline-block;
}

.line-proj .proj:before{
 content: '';
  display: inline-block;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 9px solid #2790B0;
   position: absolute;
  bottom: -19px;
  left: 45%;

}
.line2{
border-bottom:1px solid #2790B0;
padding-bottom:3px;
margin:10px 0px 30px;
display:block;
}
.line2 span{
border-bottom:6px solid #2790B0;
padding:0px 10px 11px 10px;
position:relative;
}

.line2 span:before{
 content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #2790B0;
   position: absolute;
  bottom: -12px;
  left: 45%;

}
.line3{
border-bottom:1px solid #2790B0;
padding-bottom:3px;
margin:0px 0px 15px;
display:block;
}
.line3 span{
border-bottom:5px solid #2790B0;
padding:0px 10px 3px 10px;
position:relative;
}

.line3 span:before{
 content: '';
  display: inline-block;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #2790B0;
   position: absolute;
  bottom: -8px;
  left: 45%;

}
.center{

text-align:center;
}

/*************************** TITLES ***************************************/
h3.features-title{
font-size:120%;
text-transform:uppercase;
}
.standart-h2title{
font-size:140%;
text-transform:uppercase;
line-heigh:24px;
}
.standart-h3title{
font-size:120%;
text-transform:uppercase;
}
.standart-h4title{
font-size:100%;
text-transform:uppercase;
}
/******************************** P *****************************/
p.features{
font-size:90%;
text-align:justify;
padding-bottom:15px;
border-bottom: 4px solid #fefefe;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}
p.features:hover{
border-bottom: 4px solid #2790B0;
padding-bottom:12px;
}

/********************** ICONS SIZES ****************************/
.fa-icon-xxlarge{
font-size:400%;
}

.fa-icon-xlarge{
font-size:300%;
}
.fa-icon-large{
font-size:200%;
}
/******************************** COLORS ***********************************/

.main-color, .firstword{
color:#2790B0;
}
.red{
color:red;
}
/***************************** Marketing section of Overview ************************* */

.marketing {
	text-align: center;
	color: #5a5a5a;
}
.marketing h1 {
	margin: 60px 0 10px;
	font-size: 60px;
	font-weight: 200;
	line-height: 1;
	letter-spacing: -1px;
}
.marketing h2 {
	font-weight: 200;
	margin-bottom: 20px;
}

.marketing .marketing-byline {
margin-top:20px;
}
.marketing .marketing-byline span{
color:#2790B0;

}

.marketing .marketing-byline {
	margin-bottom: 30px;
	margin-top: 20px;
	font-size: 140%;
	font-weight: 300;
	line-height: 25px;
	color: #999;
	text-transform:uppercase;
}
.marketing img {
	display: block;
	margin: 0 auto 0px;
}
.textleft {
	text-align: left;
}
.services {
	list-style: none;
	margin-left: 0;
}
.services li {
	line-height: 30px;
}
.bordertop {
	border-top: 1px solid #EEE;
	margin-top: 20px;
	padding-top: 20px;
}
/*********************** WELL ****************************/
.well {
min-height: 20px;
padding: 19px;
margin-bottom: 20px;
background-color: #fff;
border-top: 1px solid #ccc;
border-bottom: 1px solid #ccc;
border-right: 1px solid #ccc;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
-webkit-box-shadow: 0px 5px 12px rgba(50, 50, 50, 0.15);
-moz-box-shadow: 0px 5px 12px rgba(50, 50, 50, 0.15);
box-shadow: 0px 5px 12px rgba(50, 50, 50, 0.15);
border-left: 4px solid #2790B0; position:relative;

}
.well:before{
 content: '';
  display: inline-block;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  border-left: 9px solid #2790B0;
   position: absolute;
 left: 0px;
  top: 40%;
  }
p.land{
font-size:140%;
text-transform:uppercase;
margin-bottom:20px;
margin-top:20px;
line-height:28px;
}
.border-left-color{
border-left: 1px solid #2790B0;
padding-left:10px;
margin-left:10px;

}
.margin-left{
padding-left:20px;

}
.middle-line{
border-bottom:1px dashed #ccc;
}
.middle-line span{
display:inline-block;
background:#fff;
}
.margin-left .thumbnail{
margin-left:0px;

}
.thumbnail {
display: block;
padding: 0px;
line-height: 0px;
border: none/*1px solid #ddd*/;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
-webkit-box-shadow: none /*0 1px 3px rgba(0, 0, 0, 0.155)*/;
-moz-box-shadow: none /* 0 1px 3px rgba(0, 0, 0, 0.155)*/;
box-shadow: none /*0 1px 3px rgba(0, 0, 0, 0.155)*/;
-webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
/*overflow:hidden;*/
}
.caption{
background:#f2f2f2;
}

.transit-to-top{
overflow: hidden;
height: 60px;
width:100%;


}
.transit-to-top h4, .transit-to-top h3{
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
font-size:100%;

}
.p-title{
height: 40px ;
display:block;
}
.thumbnail:hover h4, .thumbnail:hover h3{
margin-top:-50px ;

}
p.caption-descr{
font-size:80%;
line-height:13px;
text-align:justify;
word-wrap: break-word;
}
.thumbnail:hover p.caption-descr a{
text-decoration:none;
}
p.caption-descr a{
font-size:80%;
float:left;
}
#portfolio" p.caption-descr a{
font-size:100%;
float:left;
}
.thumbnails li:first-child{
margin-left:0px;
}

/******************* SITEMAP ************************************************/
ul.sitemap{
list-style:none;
display:inline-block;
margin-top:0px;
margin-bottom:30px;
}
ul.sitemap li{
list-style:none;
position:relative;
padding-left:18px;
margin:15px 0px;
font-size:140%;

}
ul.sitemap li a{
	border-left: 4px solid #dedede;
	padding:12px;
	color:#fff;
	text-decoration:none;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}
ul.sitemap li a:hover{
	text-decoration:none;
	background:#005580;
	margin-left:-3px;
	margin-top:-3px;
	-webkit-box-shadow: 2px 2px 0px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    2px 2px 0px rgba(50, 50, 50, 0.5);
	box-shadow:         2px 2px 0px rgba(50, 50, 50, 0.5);
}
ul.sitemap li a{
background:#2790B0;
padding:5px;

}
	
/*
ul.sitemap li:before{
content: '';
background-image: url("../img/glyphicons-halflings.png");
background-position: -456px -72px;
display:inline-block;
width:14px;
height:14px;
top:2px;
position:absolute;
left:0px;
}*/
ul.sitemap li > ul > li{
font-size:90%;

}

/********************************* 404 page **********************************/
.marginpage{
margin-top:20px;
margin-left:40px;
}
.needhead h1.error-title {
margin-top:80px;
font-size: 700%;
font-weight: 700;
line-height: 100%;
}
.input-large, input[type="text"].input-large {
width: 50%;
height: 20px;
padding: 12px 30px;
float:left;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
display: inline-block;
height: 30px;
padding: 4px 6px;
font-size: 12px;
line-height: 28px;
color: #555555;
vertical-align: middle;
-webkit-border-radius: 1px;
-moz-border-radius: 1px;
border-radius: 1px;
}
/******************* FLEX SLIDER ******************************************/
.flex-direction-nav .flex-prev {
right: 32px;
}
.flex-direction-nav a {
width: 30px;
height: 30px;
margin: 0px 0 0;
display: block;

position: absolute;
top: -60px;
z-index: 10;
cursor: pointer;
text-indent: -9999px;
-webkit-transition: all .2s ease;
}
.portfolio-controls{
position:relative;
}
.flex-direction-nav a {
background: #2790B0  url(../../assets/img/bg_direction_nav.png) no-repeat 0 0;;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}
.flex-direction-nav li.a.flex-prev{
content: "&larr;";
color:#fff;
}
.flex-direction-nav a.flex-next{
content: "&rarr;";
color:#fff;
}

/********************** CLIENT ROTATOR *******************************/
.clients_rotator_widget_wrap .overl {
display: block;
width: 100%;
min-height: 105px;
height: 105px;
-webkit-box-shadow: inset 0px 0px 20px rgba(50, 50, 50, 0.3);
-moz-box-shadow: inset 0px 0px 20px rgba(50, 50, 50, 0.3);
box-shadow: inset 0px 0px 20px rgba(50, 50, 50, 0.3);
position: absolute;
top: 0px;
left: 0px;
-webkit-transition: all 0.6s ease-in-out;
-moz-transition: all 0.6s ease-in-out;
-o-transition: all 0.6s ease-in-out;
transition: all 0.6s ease-in-out;
opacity: 0.3;

-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; /* first!*/ 
	filter: alpha(opacity=30); /*second!*/
background: rgba(250, 250, 250, 0.6);
}
.clients_rotator_widget_wrap li {
position: relative;
}
.clients_rotator_widget_wrap li.slide {
margin-left: 30px;
}
.clients_rotator_widget_wrap li.slide:first-child {
margin-left: 0px;
}

/************************* FOOTER ELEMENTS**********************/

.twitter-bottom{
min-height: 20px;
padding: 19px;
margin-bottom: 40px;
background-color: #222;
border-top: none;
border-bottom: none;
border-right: none;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
-webkit-box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.65);
-moz-box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.65);
box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.65);
border-left: 4px solid #2790B0;
position: relative;

}
.twitter-bottom:before{
 content: '';
  display: inline-block;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  border-right: 9px solid #2790B0;
   position: absolute;
 left: -10px;
  top: 5%;
  }
 .twitter-bottom a{
 border-bottom:1px dotted;
 }
 .twitter-bottom a:hover{
 
 text-decoration:none;
 }
 
 .footer-links li a{
 padding-left:10px;
 }
.footer address {
padding-left:10px;

}
.footer .socialIcons{
padding-left:10px;
}
.twitter-sign{
margin:5px 5px 10px auto;
display:inline-block;
width:100%;
text-align:center;
}
.caption ul.socialIcons{
float:none;
width:100%;
display:block;
}
.phone-info{
display:inline-block;
width:100%;
margin:3px 0px;
}
/********************** PAGE HEADER ******************************/

.page-header {
/*background: #2790B0;
background: -moz-linear-gradient(45deg, #003060 0%,#2790B0  100%);
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#003060), color-stop(100%,#2790B0));
background: -webkit-linear-gradient(45deg, #003060 0%,#2790B0 100%);
background: -o-linear-gradient(45deg, #003060 0%,#2790B0 100%);
background: -ms-linear-gradient(45deg, #003060 0%,#2790B0 100%);
background: linear-gradient(45deg, #2790B0 0%,#003060 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003060', endColorstr='#2790B0',GradientType=1 );
-webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
-moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
color:#fff;*/
/*padding-left:40px;*/ /* delited */
background: #2790B0 url(../img/bomarOffice.png) bottom center repeat;
margin: 0px 0 30px;
max-width:1350px;
margin-left:auto;
margin-right:auto;
padding-left:20px;
}
.page-header h1{
display:block;
color:#fff;
text-shadow: 0 1px 4px #000000;
}

.page-header h1 small, .page-header h2 small, .page-header h3 small, .page-header h4 small, .page-header h5 small, .page-header h6 small{
color:#fff;
}
.pixel-bg{
background:transparent url(../img/pixel.png) top left repeat;
}
.shine{
background: url(../../assets/img/header-shine.png) top left no-repeat;
width:100%;
height:100%;
display:block;
padding-bottom: 20px;
padding-top: 30px;
}

/************************  ICONS COMPONENTS **************************/
.the-icons li{
float:none;
display:block;
width:100%;
}

/************************ BREADCRUMB ****************************************/
.breadcrumb {
padding: 3px 10px 3px 10px;
margin: 5px 0 0px;
list-style: none;
background: none;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
font-size:90%;
color:#fff;
text-shadow: none;
border-top:1px dotted #fff;
border-bottom:1px dotted #fff;
display:inline-block;

}
.breadcrumb a, .breadcrumb li.active {
color:#fff;
text-shadow: none;
}

/********************************* FILTERS in portfolio & BLOG PINT STYLE *******************************/

#filters a, #filters-blog a {
background: #2790B0;
display: inline-block;
padding: 5px 8px;
font-size: 120%;
font-weight: bold;
line-height: 16px;
color: #ffffff;
vertical-align: baseline;
white-space: nowrap;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
color:#fff;
text-decoration:none;
}
#filters a:hover, #filters-blog a:hover{
background: #003060;
}

#filters a.active, #filters-blog a.active{
background: #003060;
}

/************************** PORTFOLIO ITEMS *******************************/


.project-item-overlay .inner ul li a.proj-btn:hover {
	background: #003060;
}
.project-item-overlay .inner ul li a.proj-btn {
	background: #2790B0;
	-webkit-transition: background-color 0.1s ease-out, color 0.1s ease-out;
	-moz-transition: background-color 0.1s ease-out, color 0.1s ease-out;
	-o-transition: background-color 0.1s ease-out, color 0.1s ease-out;
	transition: background-color 0.1s ease-out, color 0.1s ease-out;
	padding: 10px;
	color: black !important;
	font-size: 11px;
	font-weight: 600;
	-moz-border-radius: 0px;
	border-radius: 0px;
	cursor: pointer;
	margin:3px;
	display:inline-block;
	
	color:#fff;
	-webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
-webkit-box-shadow: 26px 26px 22px rgba(50, 50, 50, 0.42);
-moz-box-shadow:    26px 26px 22px rgba(50, 50, 50, 0.42);
box-shadow:         26px 26px 22px rgba(50, 50, 50, 0.42);
	
}
.project-item-overlay .inner ul li a.proj-btn [class^="fa-icon-"].fa-icon-large, li [class*=" fa-icon-"].fa-icon-large{
color:#fff;
}
.project-item-overlay .inner ul li a.detail-link {
	margin-top: 5px;
	color: #CCC !important;
	display: block;
	text-transform: lowercase;
	-webkit-transition: color 0.1s ease-out;
	-moz-transition: color 0.1s ease-out;
	-o-transition: color 0.1s ease-out;
	transition: color 0.1s ease-out;
}
.project-item-image-container .project-item-overlay .inner ul li a:hover, .project-item-image-container .project-item-overlay .inner ul li a:active {
	outline: 0;
	color: #2790B0;
}
.project-item-image-container .project-item-overlay .inner ul li a:hover {
	color: #2790B0;
	text-decoration: none;
}
.project-item-image-container .project-item-overlay .inner ul li a {
	color: #0085BD;
	text-decoration: none;
}

.project-item {
	
	margin-bottom:30px;
}

.project-item-overlay .inner ul {
	list-style: none;
	margin-left:0px;
}
.project-item-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(250, 250, 250, 0.8);
	display: block;
	opacity:0; 
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* first!*/ 
	filter: alpha(opacity=0); /*second!*/
	
}
.project-item-overlay .inner {
	display: block;
	text-align: center;
	position: relative;
	top: 30%;
	width:100%;
	text-align:center;
}
.project-item-overlay:hover, .slide:hover .project-item-overlay {
	-webkit-transition: 0.3s ease-out;
	-moz-transition: 0.3s ease-out;
	-o-transition: 0.3s ease-out;
	transition:  0.3s ease-out;
	opacity: 1;
	/*-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; 
	filter: alpha(opacity=100); second!*/
	
}
.project-item-image-container {
	position: relative;
	width: 100%;
	height: 100%;
	cursor: pointer;
	border: none;
}
.project-item-image-container:hover, .project-item :hover .project-item-image-container {
	-webkit-transition: background-color 0.2s ease-out, color 0.1s ease-out;
	-moz-transition: background-color 0.2s ease-out, color 0.1s ease-out;
	-o-transition: background-color 0.2s ease-out, color 0.1s ease-out;
	transition: background-color 0.2s ease-out, color 0.1s ease-out;
	opacity: 1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; /* first!*/ 
	filter: alpha(opacity=100); /*second!*/
}

.project-item-image-container > img {
	width: 100%!important;
}

/*********************** GMAP ****************************/
#map {
width: 100%;
height: 250px;
display: block;
}

/********************************* MASONRY ITEM ***************************/

.isotope .isotope-item {
-webkit-transition-property: -webkit-transform, opacity;
-moz-transition-property: -moz-transform, opacity;
-ms-transition-property: -moz-transform, opacity;
-o-transition-property: top, left, opacity;
transition-property: transform, opacity;
}
.isotope-item {
z-index: 2;
-webkit-transition-duration: 0.8s;
-moz-transition-duration: 0.8s;
-ms-transition-duration: 0.8s;
-o-transition-duration: 0.8s;
transition-duration: 0.8s;
}

/**************************** BLOG ALT *********************************/
.toggle-img{
position:relative;
height:200px;
width:100%;
min-width:100%;
margin-top:5px;
margin-bottom:15px;
display:inline-block;
overflow:hidden;
-webkit-transition: all 1.8s ease-in-out;
-moz-transition: all 1.8s ease-in-out;
-o-transition: all 1.8s ease-in-out;
transition: all 1.8s ease-in-out;
}
.toggle-img img{
position:absolute;
width:100%;
min-width:100%;
height:auto;
top:-100%;
left:0%;
-webkit-transition: all 1.8s ease-in-out;
-moz-transition: all 1.8s ease-in-out;
-o-transition: all 1.8s ease-in-out;
transition: all 1.8s ease-in-out;
 
}
.toggle-img:hover img{
-moz-transform: scale(2);
-o-transform: scale(2);
-ms-transform: scale(2);
-webkit-transform: scale(2);
transform: scale(2);
}


/******************************* BLOG CATEGORIES **************************/
.widget-archive > li a:hover {
border-left: 10px solid #2790B0;
text-decoration: none;
}
.widget-archive > li a {
border-left: 1px solid #2790B0;
padding: 5px 0 3px 10px;
margin: 0 0 0 55px;
display: block;
color: #333300;
-webkit-transition: all 0.25s ease-in-out;
-moz-transition: all 0.25s ease-in-out;
-o-transition: all 0.25s ease-in-out;
-ms-transition: all 0.25s ease-in-out;
transition: all 0.25s ease-in-out;
font-size: 90%;
}
.widget-archive > li{
list-style:none;
}
/******************************************************************************/

/***************************** BLOG **************************************/
.blog{
padding-top:30px;
}
.blog-post p.cat-blog{
margin-top:0px;
}
.date-blog {
font-size: 300%;
font-weight: 600;
}
.meta-blog {
padding:3px 0px;
border-top:1px solid #dedede;
border-bottom:1px solid #dedede;
margin:3px 0px;
display:inline-block;
width:100%;
}
.label {
-webkit-border-radius: 1px;
-moz-border-radius: 1px;
border-radius: 1px;
}
.label-xl, .badge-xl {
display: inline-block;
padding: 21px 8px;
font-size: 11.844px;
font-weight: bold;
line-height: 14px;
color: #ffffff;
vertical-align: baseline;
white-space: nowrap;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
background:#2790B0 url(../../assets/img/header-shine.png) top left no-repeat;
background-size:100% 100%;
position:relative;
}

.label-l, .badge-l {
display: inline-block;
padding: 15px 5px;
font-size: 11.844px;
font-weight: bold;
line-height: 14px;
color: #ffffff;
vertical-align: baseline;
white-space: nowrap;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
background:#2790B0 url(../../assets/img/header-shine.png) top left no-repeat;
background-size:100% 100%;
position:relative;
}

.label-xl:after, .label-l:after {
  content: '';
  display: inline-block;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  border-left: 9px solid #2790B0;
 
  position: absolute;
  top: 40%;
  right: -9px;
  }
.blog-post p{
text-align:justify;
margin:20px 0;

}
.thumbnail > img{
width:100%;
margin:none;

}
/* Blog Specific */
.blog article {
	margin-bottom: 4em;
	
}
#single article { /* margin-bottom: 0; */
}
.blog article:last-child {
	margin-bottom: 0;
	border-bottom: none;
}
.blog article h2 {
	font-size: 2em;
	margin: 0 !important;
}
.blog article h2 a {
	color: #2f2f2f;
	font-weight: 400;
	font-style: normal;
}
.blog article h2 a:hover {
	color: #2f2f2f;
	text-decoration: none;
}
.blog article h3 {
	/*font-size: 1.5em;*/
}
.blog article h4 {
	/*font-size: 1.2em;*/
}
.blog article blockquote p {
	color: #2f2f2f;
	border-left:0px;
	padding-left: 15px;
	line-height: 1.6em;
	font-size:110%;
	display:inline-block;
	margin:10px 0px 10px;

}
blockquote p:before {
color:#2790B0;
content:open-quote;
font-size:4em;
line-height:.1em;
margin-right:.25em;
vertical-align:-.4em;
text-shadow: -1px -1px 0px #333, 1px 1px 2px #fff;
}
blockquote p:after {
color:#2790B0;
content:close-quote;
font-size:4em;
line-height:.1em;
margin-left:.25em;
margin-top:1.5em;
vertical-align:-.7em;
text-shadow: -1px -1px 0px #333, 1px 1px 2px #fff;
}
.blog article blockquote .author {
	color: #757575;
}
.blog article code, .blog article pre {
	font-size: .9em;
	color: #484848;
}
.blog article pre {
	padding: 1em;
	background: #F5F4F4;
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	-o-border-radius: .5em;
	-ms-border-radius: .5em;
	border-radius: .5em;
}
.blog article .video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}
.blog article .video-container iframe, .blog article .video-container object, .blog articlel .video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.blog article aside .blog-post-type h3 {
	width: 91px;
	height: 94px;
	text-indent: -9999px;
	display: block;
	margin: 1.3em auto 0;
}
.blog article aside .blog-post-type h3.article {
	
}
.blog article aside .blog-post-type h3.link {
	
}
.blog article aside .blog-post-type h3.video {
	
}
.blog article aside .blog-post-type h3.image {
	
}
.blog article:hover aside .blog-post-type h3 {
	background-position: 0 -94px;
}
.blog article aside .blog-post-date {
	text-align: center;
	margin: 2em 0 1em 0;
}
.blog article aside .blog-post-comments {
	text-align: center;
}
.blog article aside .blog-post-comments a {
	color: #757575;
	font-style: normal;
	font-weight: 400;
}
.blog article aside .blog-post-comments a:hover {
	color: #d8c431;
	text-decoration: none;
}
/************************************ POST IMG ******************************************/

img.post-image{
max-width:340px;
height:auto;
width:340px;
margin:10px 15px 20px 0px;
float:left;
overflow:hidden;
}
img.post-image-full{
max-width:100%;
height:auto;
width:100%;
float:none;
margin:10px 0px 20px 0px;
}

.blog .blog-post-tags {
	margin-top: 3px;
}
.blog .blog-post-tags ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.blog .blog-post-tags li a {
	float: left;
	margin: 0 .5em .5em 0;
	padding: .2em .8em;
	background-color: #f5f4f4;
	font-size: .6em;
	font-style: normal;
	color: #757575;
	font-weight: 400;
	position: relative;
	text-transform: uppercase;
	border: 1px solid #d0d0d0;
}
.blog .blog-post-tags li a:hover {
	background: #2790B0;
	color: #fff;
	text-decoration: none;
	border: 1px solid #2790B0;
}
.blog article aside h4 {
	margin: 0;
	font-size: 1.2em;
}
.blog article aside p {
	margin: 0;
	font-size: .9em;
}
.blog article .social {
	margin: 1em 0 0 0;
}
.blog .sharing a:hover {
	text-decoration: none;
	color: #d8c431;
}
.blog article aside {
	line-height: 1.4em;
}
.blog .blog-post img {

}
.blog .blog-post .wp-caption {
	background: none;
	border: none;
}
.blog .blog-post .wp-caption-text {
	padding: .5em;
}
.blog .blog-post .alignleft {
	margin: 1em 1em 1em 0;
}
.blog .blog-post .alignright {
	margin: 1em 0 1em 1em;
}
.blog .post-meta ul {
	list-style: none !important;
	padding-left: 0 !important;
	margin: 0 !important;
	margin: 0 .5em .5em 0;
	padding: .2em .8em;
	font-weight: 400;
	position: relative;
	text-transform: uppercase;
}
.blog .post-meta ul li {
	float: left;
	margin-right: 1em;
	font-size: 0.8em;
}
.blog .nav-tabs {
	margin-bottom: 0px !important;
}
.blog .tab-pane {
	padding: 15px;
	background: white;
	padding-bottom: 1px;
	border: 1px solid #DFDFDF;
	border-top: 0px;
}
.blog .nav-pills li.active a, .blog .nav-pills li a:hover {
	background-color: #2790B0 !important;
	color: #fff;
}
.blog_cat {
	padding-top: 0px;
}
.blog .indexMeta {
	
	border-top: 1px solid #d0d0d0 !important;
	border-bottom: 1px solid #d0d0d0 !important;
	clear: both;
	position: relative;
	padding: 20px !important;
	padding-bottom: 40px !important;
	margin-bottom: 40px;
}
.blog .indexMeta h2 {
	width: 600px;
}
.blog .indexMeta .dd_buttons {
	position: absolute;
	top: 15px;
	right: 10px;
	width: 112px;
	border-left: 1px solid #d9d9d9;
	padding-left: 10px;
}
.blog .indexMeta .dd_button {
	height: 25px;
	float: right;
	margin: 3px 0px;
	overflow: hidden;
	width: 110px;
}
/*************************** TABS **************************************/

.nav-tabs > .active > a{
border-left: 3px solid #2790B0;
}

/*************************** ALT BLOG 2 ********************************/

.box-blog{
background:#fff;
border:1px solid #dedede;
box-shadow: 0 1px 3px rgba(34,25,25,0.4);
-moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
-webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
margin-bottom:20px;

}

.pint-blog .thumbnail{
margin:10px;

}
.pint-blog {

padding: 0px;

margin-bottom:20px;
float:left;
-webkit-border-radius:2px;
-moz-border-radius: 2px;
border-radius: 2px;
background:#fff;
-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
box-shadow: 0 1px 3px rgba(34,25,25,0.4);
-moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
-webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
max-width:100%;
border:1px solid #dedede;
}

.pint-blog .single-title{
font-size:100%;
text-transform:uppercase;
margin:5px 10px 3px 10px;

}
.pint-blog .meta{
margin:4px 10px;
font-size:80%;
}
.pint-blog p {
font-size:80%;
padding:10px;
text-align:justify;
display:inline-block;
position:relative;
}
.pint-blog p span.plus{
position:absolute;
left:0px;
bottom:0px;
width:100%;
opacity:0; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* first!*/ filter: alpha(opacity=50); /*second!*/ -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* first!*/ filter: alpha(opacity=50); /*second!*/
text-align:center;
background: rgba(250, 250, 250, 1);
padding:7px 0px;
-webkit-box-shadow: 0px -8px 7px rgba(50, 50, 50, 0.32);
-moz-box-shadow:    0px -8px 7px rgba(50, 50, 50, 0.32);
box-shadow:         0px -8px 7px rgba(50, 50, 50, 0.32);
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}

.pint-blog p span.plus a:hover, .pint-blog p span.plus a:hover i{
text-decoration:none;
color:#003060;
}

.pint-blog:hover p span.plus{
position:absolute;
left:0px;
bottom:0px;
width:100%;
opacity:1; 
 -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* first!*/ 
 filter: alpha(opacity=100); /*second!*/
}

/********************** LANDING ****************************************/

#landing-form{
margin: 10px 20px 0 20px;
color: #666;
min-height: 20px;
padding: 19px;
margin-bottom: 20px;
background-color: #fefefe;
border: 1px solid #AAAAAA;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.15);
-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.15);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.15);
min-width: 290px;
font-size:120%;
line-height:24px;
text-shadow:none;
}

/*************************** TESTIMONIALS ******************************/
.testimonials .slide{
margin-left:30px;
}

.testimonials .slide:first-child{
margin-left:0px;
}

/****************** PORTFOLIO SINGLE ***************************/
.large-sl {
position: relative;
}
.slides, .flex-control-nav, .flex-direction-nav {
margin: 0;
padding: 0;
list-style: none;
}
.portfolio-controls-single {
position: absolute;
top: 60px;
right: 0px;
display: inline-block;
}
.flex-viewport{
min-height:100%;
}

/*************************** MEDIA WIDTH ********************************/
/*@media (max-width: 1340px)(min-width: 1200px){
.box-blog:nth-child(3n+1){
margin-left:0px;
}
}*/

@media (max-width: 980px) and (min-width: 768px){
.navbar .nav > li > a{
font-size:85%;
padding-left:10px;
padding-right:10px;
}
.pint-blog p{
line-height:16px;
}
.pull-right{
float:none;
}
.main-nav .nav > li:hover a{

background:#2790B0;
color:#fff;
text-shadow:none;
}
.nav-reaction .dropdown-menu {
position: absolute;


}
.needhead h1{
font-size: 2em;
}
.needhead p.medium {
font-size: 90%;
}
.banner-img {
margin-top: 40px;
}
.banner-item .container {
margin-top: 0px;
}
.banner_rotator {
height: 300px;
}
.needhead {
height: 500px;
}
.toggle-img img {
top: -50%;
}
}
@media (min-width: 1200px){
	.thumbnails > li:first-child {
	margin-left: 0px;
	}

}

@media (max-width: 767px){
.line span {
border-bottom: 0;
padding: 0px 10px 8px 10px;
position: relative;
}
.needhead h1.error-title {
margin-top:60px;
font-size: 300%;
font-weight: 700;
line-height: 100%;
}
.navbar-inner {
min-height: 40px;
padding-left: 0px;
padding-right: 0px;
}
.navbar-static-top {
margin-right: 0px;
margin-left: 0px;
}

.banner-item .container {
padding-right: 55px;
}
.needhead h1{
font-size: 2em;

}
.needhead p.medium {
font-size: 90%;

}
.banner_rotator {
height: 300px;
}
.needhead {
height: 500px;
}

.line span:before {
content: '';
display: inline-block;
border-left: 9px solid transparent;
border-right: 9px solid transparent;
border-top: 0px;
position: absolute;
bottom: -19px;
left: 45%;
}

.toggle-img img {
top: 0%;
}
ul#filters > li, #filters-blog a{
font-size:70%;
}
	.banner-to-right{
	text-align:center;
	}
	.pull-right{
	float:none;
	
	}
	.navbar .brand{
	float:none;
	text-align:center;
	}

	 .btn-action{
	font-size:125%;
	}

	.navbar .nav > li > a:hover,  .navbar .nav > li > a:hover,  .navbar .nav .sfHover > a{

	background:#2790B0;
	color:#fff;
	text-shadow:none;
	}
	
	.label-xl, .badge-xl {
display: inline-block;
padding: 21px 8px;
font-size: 11.844px;
font-weight: bold;
line-height: 14px;
color: #ffffff;
vertical-align: baseline;
white-space: nowrap;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
background:#2790B0 url(../../assets/img/header-shine.png) top left no-repeat;
background-size:100% 100%;
position:relative;
margin-bottom:15px;
}

.label-l, .badge-l {
display: inline-block;
padding: 15px 5px;
font-size: 11.844px;
font-weight: bold;
line-height: 14px;
color: #ffffff;
vertical-align: baseline;
white-space: nowrap;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
background:#2790B0 url(../../assets/img/header-shine.png) top left no-repeat;
background-size:100% 100%;
position:relative;
margin-bottom:15px;
}

.label-xl:before, .label-l:before {
 content: '';
  display: inline-block;
  border-right: 9px solid transparent;
  border-left: 9px solid transparent;
  border-top: 9px solid #2790B0;
   position: absolute;
 bottom: -9px;
  left: 47%;
  }
  
  .label-xl:after, .label-l:after {
 content: '';
  display: inline-block;
  border-right: 0;
  border-left: 0;
  border-top: 0;
   position: absolute;
 bottom: -9px;
  left: 47%;
  }
	.blog article p img, .blog article p img.pull-right {
	float:none;
	width:100%;
	margin:0px 0px 10px 0px;
	padding-left:0px;
	}
	.twitter-bottom{
min-height: 20px;
padding: 19px;
margin-bottom: 40px;
background-color: #222;
border-top: none;
border-bottom: none;
border-right: none;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
-webkit-box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.65);
-moz-box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.65);
box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.65);
border-left:0px;
border-top: 4px solid #2790B0;
position: relative;

}
.twitter-bottom:before{
 content: '';
  display: inline-block;
  border-right: 9px solid transparent;
  border-left: 9px solid transparent;
  border-top: 9px solid #2790B0;
   position: absolute;
 top: 0px;
  left: 47%;
  }


	.thumbnails > li {
	float: none;
	margin-left: 20;
	}
	body {
	padding-left: 0px;
	padding-right: 0px;
	}
	.container, .navbar .container {
	padding-left: 20px;
	padding-right: 20px;
	}

}
@media (max-width: 979px){
.nav-collapse .nav > li > a {
margin-bottom: 0px;
}
.navbar .nav > li.active a:hover{

}
}